<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Autorisation des utilisateurs" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- <div class="alert alert-info mt-3">
        <h6 class="alert-heading">Les changements peuvent prendre un certain temps avant de prendre effet !</h6>
        Pour que les changements soient immédiatement pris en compte, l'utilisateur doit se déconnecter et s'authentifier à nouveau.<br>
        Sinon les changements seront effectués lorsque la session expire ou l'utilisateur n'est pas autorisé à une interface.<br>
        <small>La session de l'utilisateur est mise à jour chaque 24 heures</small>
    </div> -->
    <!-- end page title -->
    <form class="row mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="col-12">
            <div class="card">
                <div class="card-body">
                    <i class="bx bx-loader-alt fa-spin text-center fs-1 text-primary d-block m-5" *ngIf="!submitted && (service.loading$ | async)"></i>

                    <!-- <ng-container *ngIf="(UserPermissions$ | async) as UserPermissions">
                    <div *ngFor="let role of userRoles; let i = index">
                        <h4>{{role.name}}</h4>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" [formControlName]="i + '_edit'" (change)="onEditChange(role.name, $event.target.checked)"> Edit
                            </label>
                            <label>
                                <input type="checkbox" [formControlName]="i + '_modify'" (change)="onModifyChange(role.name, $event.target.checked)"> Modify
                            </label>
                            <label>
                                <input type="checkbox" [formControlName]="i + '_delete'" (change)="onDeleteChange(role.name, $event.target.checked)"> Delete
                            </label>
                            <label>
                                <input type="checkbox" [formControlName]="i + '_add'" (change)="onAddChange(role.name, $event.target.checked)"> Add
                            </label>
                            <label>
                                <input type="checkbox" [formControlName]="i + '_import'" (change)="onImportChange(role.name, $event.target.checked)"> Import
                            </label>
                        </div>
                    </div>
                    </ng-container> -->
                    
                    <ng-container *ngIf="(UserPermissions$ | async) as UserPermissions">
                    <div class="row">
                        <ul ngbNav #nav="ngbNav" [activeId]="0" class="nav-tabs">
                            <li *ngFor="let r of UserPermissions; let j=index"
                                [ngbNavItem]="j"
                                >
                                <a ngbNavLink>
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">{{r.label}}</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let permission of PermissionsIndex; let i=index">{{permission.name}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let access of EntitiesAccess; let i=index">
                                                    <th>{{access.name}}</th>
        
                                                    <!-- full access -->
                                                    <td *ngFor="let permission of PermissionsIndex; let i=index">
                                                        <ng-container 
                                                            *ngIf="
                                                                access.permissions === -1 || 
                                                                ((access.permissions | typeof) === 'number' && i == access.permissions) ||
                                                                ((access.permissions | typeof) === 'object' && access.permissions.indexOf(i) > -1);
                                                                else disabled
                                                            ">
                                                            <label title="{{permission.name}}">
                                                                <input type="checkbox" 
                                                                    [formArrayName]="r.role"
                                                                    (change)="onChange($event, r.role)"
                                                                    [value]="access.value+'_'+permission.value"
                                                                    [checked]="isChecked(access.value+'_'+permission.value, r.role)"
                                                                >
                                                            </label>
                                                        </ng-container>
                                                        <ng-template #disabled>
                                                            <label>
                                                                <input style="opacity: 0.3;" type="checkbox" disabled>
                                                            </label>
                                                        </ng-template>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <i class="bx bx-loader-alt fa-spin" *ngIf="submitted && (service.loading$ | async)"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
        </fieldset>
        <!-- end col -->
    </form>
</div>