 <!-- list des anomalies -->
 <div class="col-12" id="anomalies-list">
  <div class="card card-body">
    <p class="card-title mb-3">Anomalies liées</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Statut</th>
            <th width="10%">Priorité</th>
            <th>Anomalie</th>
            <th width="15%">Créé par</th>
            <th width="15%">Tronçon</th>
            <th width="15%">Date</th>
            <th width="50px"></th>
          </tr>
        </thead>
        <tbody>
          <!-- state -->
          <tr>
            <td
              class="text-center"
              colspan="8"
              *ngIf="currentEdge && currentEdge.ANode && currentEdge.ANode && !(anomalyService.anomalies$ | async) && anomalyService.loading$ | async"
            >
              Chargement...
            </td>
            <td
              class="text-center"
              colspan="8"
              *ngIf="!(currentEdge && currentEdge.ANode && currentEdge.ANode) || ((anomalyService.anomalies$ | async) && (anomalyService.anomalies$ | async).length === 0 && anomalyService.loaded$ | async)"
            >
            Aucune donnée trouvée !
            </td>
          </tr>
          <!-- data -->
          <ng-container *ngIf="currentEdge && currentEdge.ANode && currentEdge.ANode">
            <tr *ngFor="let item of (anomalyService.anomalies$ | async); let i = index" valign="middle">
              <!-- status -->
              <!-- Terminé / En attente-->
              <td>
                <ui-switch 
                    [checked]="item.status ? item.status : false" 
                    [disabled]="!authService.isAuthorized('anomalies_update')" 
                    (changeEvent)="anomalyService.updateStatus($event, item.id)"
                    [loading]="anomalyService.statusLoading === item.id"
                    uncheckedLabel="En attente"
                    checkedLabel="Terminé"
                    checkedTextColor="#fff"
                >
                <i class="fa fa-spinner fa-pulse" *ngIf="anomalyService.statusLoading === item.id"></i>
              </ui-switch>
              </td>
              <!-- severity -->
              <!-- élevé, faible ou normal -->
              <td>
                <span class="badge badge-pill font-size-11 badge-soft-{{ anomalyService.getSeverity(item.severity, true) }}">
                  {{anomalyService.getSeverity(item.severity, false)}}
                </span>
              </td>
              <!-- title -->
              <td>{{item.title}}</td>
              <!-- Créé par -->
              <td>
                <a 
                  *ngIf="item.createdBy"
                  [routerLink]="authService.isAuthorized('users_details') ? ['/users/details', item.createdBy.id] : null"
                  target="_blank" class="d-flex align-items-center">
                  <div class="header-profile-user bg-transparent me-2"><span class="avatar-title rounded-circle bg-transparent border text-muted small"><i class="fas fa-user"></i></span></div>
                  {{item.createdBy.fullName}}
                </a>
              </td>
              <!-- tronçon -->
              <td>
                 <a *ngIf="item.edge"
                    [routerLink]="authService.isAuthorized('edges_details') ? ['/edges/details', item.edge.id] : null"
                    target="_blank">{{item.edge.node_a.titre}} - {{item.edge.node_b.titre}}</a>
              </td>
               <!-- date -->
               <td>{{item.createdAt | date:'medium':'Africa/Casablanca'}}</td>

              <!-- actions -->
              <td align="center">
                <div ngbDropdown 
                  placement="bottom-left"
                  *ngIf="authService.isAuthorized('anomalies_details') || authService.isAuthorized('anomalies_update') || authService.isAuthorized('anomalies_delete')"
                  >
                  <i
                    class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                    ngbDropdownToggle
                    data-toggle="dropdown"
                    aria-expanded="true"
                  ></i>
                  <div
                    class="dropdown-menu dropdown-menu-end"
                    ngbDropdownMenu
                  >
                    <a class="dropdown-item"
                      [routerLink]="['/anomalies/details', item.id]"
                      href="javascript: void(0);"
                      *ngIf="authService.isAuthorized('anomalies_details')"
                      >
                      <i class="fas fa-eye me-2"></i> Voir
                    </a>
                    <a
                      class="dropdown-item"
                      href="javascript: void(0);"
                      *ngIf="authService.isAuthorized('anomalies_update')"
                      [routerLink]="['/anomalies/update', item.id]"
                      >
                      <!-- skipLocationChange -->
                      <i class="fas fa-edit me-2"></i> Modifier
                    </a>
                    <a
                      class="dropdown-item text-danger"
                      href="javascript: void(0);"
                      *ngIf="authService.isAuthorized('anomalies_delete')"
                      (click)="anomalyService.deleteItem(item.id, $event.target)"
                    >
                      <i class="fas fa-trash me-2"></i> Supprimer
                    </a>
                  </div>
                </div>
              </td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <ng-container *ngIf="(anomalyService.pagination$ | async) as pagination">
      <div
        *ngIf="pagination.totalRecords > anomalyService.pageSize"
        class="row justify-content-md-between align-items-md-center mt-2"
      >
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info mb-2"
            id="tickets-table_info"
            role="status"
            aria-live="polite"
          >
          Affichage de {{pagination.startIndex}} 
          à {{pagination.endIndex}} 
          de {{pagination.totalRecords}} entrées
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination
              [collectionSize]="pagination.totalRecords"
              [(page)]="anomalyService.page"
              [pageSize]="anomalyService.pageSize"
              (pageChange)="anomalyService.onPaginate($event)" [maxSize]="5" 
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>

<!-- ajouter anomalies (juste pour les incidents) -->
<div class="col-12" *ngIf="currentEdge && currentEdge.type && currentEdge.type!='false'">
  <form [formGroup]="parentFormGroup" class="card card-body">
    <table class="table table-bordered table-striped mb-0" formArrayName="anomalies">  
      <tr>  
        <th colspan="2"><div>Ajouter des anomalies</div></th>  
        <td width="69px">
          <div class="text-end">
            <button type="button" (click)="addAnomaly()" class="btn btn-sm btn-primary"><i class="bx bx-plus fs-4 lh-sm"></i></button>
          </div>
        </td>  
      </tr>  
      <tr *ngFor="let anomaly of anomalies.controls; let i=index" [formGroupName]="i">  
        <td width="40%">  
          <div class="row">  
            <div class="col-lg-6 mb-3 mb-lg-0">
              <label>Statut</label>
              <ng-select [searchable]="false" formControlName="status" placeholder="Statut..">
                <ng-option [value]="true">Terminé</ng-option>
                <ng-option [value]="false">En attente</ng-option>
              </ng-select>
            </div>  
            <div class="col-lg-6 mb-lg-0">
              <label>Priorité</label>
              <ng-select [searchable]="false" formControlName="severity" placeholder="Priorité..">
                <ng-option *ngFor="let option of anomalyService.severityOptions" [value]="option.value">
                  {{ option.label }}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-12 mt-2">
              <label>Tronçon</label>
              <ng-select 
                  formControlName="edge" 
                  placeholder="Tronçon.."
                  (open)="!(currentEdge && currentEdge.department && currentEdge.department) && AlertEdgeChange()"
                  [readonly]="!(currentEdge && currentEdge.department && currentEdge.department)"
                  >
                <ng-option *ngFor="let edge of (anomalyService.edgesInRange$ | async)" [value]="edge['@id']">{{edge.node_a.titre}} - {{edge.node_b.titre}}</ng-option>
              </ng-select>
              <div
                *ngIf="showErrors && anomaly.get('edge').errors"
                class="invalid-feedback d-block">
                <span *ngIf="anomaly.get('edge').errors.required">Ce champ est obligatoire.</span>
              </div>
            </div>
          </div>
        </td>  
        <td>  
          <div>  
          <label for="input-3">Anomalie</label>
          <textarea
            formControlName="title"
            id="input-3" 
            class="form-control"
            type="text"
            style="height: 115px;"
          ></textarea>
          <div
            *ngIf="showErrors && anomaly.get('title').errors"
            class="invalid-feedback d-block">
            <span *ngIf="anomaly.get('title').errors.required">Ce champ est obligatoire.</span>
          </div>
          </div>  
        </td>  
        <td>  
          <div class="p-0">  
          <div class="text-center">
            <button (click)="removeAnomaly(i)" class="btn btn-danger"><i class="fas fa-trash"></i></button>  
          </div>
          </div>  
        </td>  
      </tr>  
    </table>

  </form>
</div>