<div class="container-fluid mb-5">
  <!-- statistics -->
  <div class="row">
    <ng-container *ngIf="visitsStats$ | async as data; else statsLoading">
    <div class="col-6 d-flex flex-column">
      <div class="card card-body py-2 flex-grow-0">
      <div class="row">
        <div class="col-7 p-1">
          <div class="border p-3 rounded-3">
            <p class="fw-medium mb-1">Distance parcourue</p>
            <div class="row">
              <div class="col-6">
                <small class="text-muted">Année courante</small>
                <strong class="h2 d-block">{{data.nbSupportYear}} <small class="text-muted">/12000 km</small></strong>
              </div>
              <div class="col-6">
                <small class="text-muted">Mois en cours</small>
                <strong class="h2 d-block">{{data.nbSupportMonth}} km</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 p-1">
          <div class="border p-3 rounded-3">
            <p class="fw-medium mb-2">Anomalies <small class="text-muted">(mois en cours)</small></p>
            <p class="mt-2 mb-2">
              <span class="font-size-11 me-2 badge" [ngClass]="{'badge-soft-success': data.percentageChange >= 0, 'badge-soft-danger': data.percentageChange < 0}">
                {{ data.percentageChange | number:'1.1-2' }}% 
                <i class="mdi" [ngClass]="{'mdi-arrow-up': data.percentageChange >= 0, 'mdi-arrow-down': data.percentageChange < 0}"></i><small>De la période précédente</small>
              </span>
            </p>
            <strong class="h2 mb-0">{{data.anomaliesCurrent}}</strong>
          </div>
        </div>
      </div>
      </div>
      <div class="card card-body flex-1">
        <div>
            <div class="py-2">
                <h5 class="fw-medium mb-2">Total des visites <small class="text-muted">(par objectif annuel)</small><span class="float-end">78%</span></h5>
                <div class="progress animated-progess progress-sm">
                    <div class="progress-bar" role="progressbar" style="width: 78%"
                        aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-body pb-0">
        <p class="fw-medium mb-0">Vistes par communes <small class="text-muted">(année courante)</small></p>
        <apx-chart class="apex-charts" dir="ltr" [series]="Chartdata.series" [chart]="Chartdata.chart"
            [plotOptions]="Chartdata.plotOptions" [dataLabels]="Chartdata.dataLabels" [xaxis]="Chartdata.xaxis"
            [colors]="Chartdata.colors" [grid]="Chartdata.grid"></apx-chart>
      </div>
    </div>
    </ng-container>
    <ng-template #statsLoading>
      <div class="col-12">
      <div class="card card-body">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="310px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="rotate(180 50 50)"><rect x="15" y="15" width="10" height="40" fill="#e8e8e8">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2.1052631578947367s"></animate>
            </rect><rect x="35" y="15" width="10" height="40" fill="#dce4eb">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1.0526315789473684s"></animate>
            </rect><rect x="55" y="15" width="10" height="40" fill="#bbcedd">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3.1578947368421053s"></animate>
            </rect><rect x="75" y="15" width="10" height="40" fill="#85a2b6">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5.2631578947368425s"></animate>
            </rect></g>
        </svg>
      </div>
      </div>
  </ng-template>
  </div>


  <!-- actions -->
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Liste des visites"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    
    <div class="col-auto">
      <a routerLink="/visites/persist" class="btn btn-primary ms-2"
      *ngIf="authService.isAuthorized('visites_add')"
        ><i class="fas fa-plus-circle"></i> Ajouter</a
      >
    </div>
  </div>

  <!-- data -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <form [formGroup]="service.visiteForm" (ngSubmit)="service.onSearch()" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="min-width: 200px;">Date</th>
                  <th style="min-width: 200px;">Départ</th>
                  <th style="min-width: 130px;">De</th>
                  <th style="min-width: 130px;">À</th>
                  <th style="min-width: 130px;">Longueur visitée</th>
                  <th style="min-width: 130px;">Équipe</th>
                  <th style="min-width: 130px;">Anomalies</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <!-- search -->
                <tr valign="middle">
                  <!-- date -->
                  <td>
                    <div class="d-flex gap-2">
                    <div class="input-group clockpicker">
                      <input #searchDateStart ngbDatepicker formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #ds="ngbDatepicker">
                    </div>
                    <div class="input-group clockpicker">
                      <input #searchDateEnd ngbDatepicker formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #de="ngbDatepicker">
                    </div>
                    </div>
                  </td>
                  <!-- Départ -->
                  <td>
                    <ng-select [items]="service.departments$ | async"
                        #searchDepar
                        formControlName="node_a.department.id[]"
                        bindLabel="titre"
                        bindValue="id"
                        [multiple]="true"
                        [minTermLength]="2"
                        placeholder="Départ.."
                        [loading]="service.departmentLoading"
                        typeToSearchText="Veuillez saisir 2 caractères ou plus"
                        [typeahead]="service.departmentInput$">
                    </ng-select>
                  </td>
                   <!-- nodeA -->
                   <td>
                    <ng-select [items]="service.ANode$ | async"
                        #searchANode
                        formControlName="node_a.id[]"
                        bindValue="id"
                        [multiple]="true"
                        [minTermLength]="2"
                        placeholder="De.."
                        [readonly]="!service.departments"
                        [loading]="service.ANodeLoading"
                        typeToSearchText="Veuillez saisir 2 caractères ou plus"
                        [typeahead]="service.ANodeInput$">
                        <ng-template ng-label-tmp let-item="item">
                          {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                          {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                        </ng-template>
                    </ng-select>
                  </td>
                  <!-- nodeB -->
                  <td>
                    <ng-select [items]="service.BNode$ | async"
                        #searchBNode
                        formControlName="node_b.id[]"
                        bindValue="id"
                        [multiple]="true"
                        [minTermLength]="2"
                        placeholder="À.."
                        [readonly]="!service.departments"
                        [loading]="service.BNodeLoading"
                        typeToSearchText="Veuillez saisir 2 caractères ou plus"
                        [typeahead]="service.BNodeInput$">
                        <ng-template ng-label-tmp let-item="item">
                          {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                          {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                        </ng-template>
                    </ng-select>
                  </td>
                  <!-- Longueur visitée -->
                  <td>
                    <input type="text" placeholder="Longueur visitée..." formControlName="nbSupport" #searchNbSupport class="form-control">
                  </td>
                  <!-- Équipe -->
                  <td>
                    <ng-select [items]="service.teams$ | async"
                              #searchTeam
                              formControlName="node_a.department.team.id[]"
                              bindLabel="titre"
                              bindValue="id"
                              [multiple]="true"
                              [minTermLength]="2"
                              placeholder="Équipe.."
                              [loading]="service.teamLoading"
                              typeToSearchText="Veuillez saisir 2 caractères ou plus"
                              [typeahead]="service.teamInput$">
                    </ng-select>
                  </td>
                  <td></td>
                 <!-- Actions -->
                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="service.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                <!-- state -->
                <tr>
                  <td
                    class="text-center"
                    colspan="8"
                    *ngIf="!(service.visites$ | async) && service.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="8"
                    *ngIf="(service.visites$ | async) && (service.visites$ | async).length === 0 && service.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <!-- data -->
                <tr *ngFor="let item of (service.visites$ | async); let i = index" valign="middle">
                  <!-- date -->
                  <td>
                    <ngb-highlight
                      [result]="item.date | date:'medium':'Africa/Casablanca'"
                      [term]="searchDateStart.value+searchDateEnd.value"
                    ></ngb-highlight>
                  </td>
                  <!-- department -->
                  <td>
                    <a 
                      *ngIf="item.node_a.department"
                      [routerLink]="authService.isAuthorized('departments_details') ? ['/departments/details', item.node_a.department.id] : null"
                      target="_blank">{{item.node_a.department.titre}}</a>
                  </td>
                  <!-- nodeA -->
                  <td>
                    <a 
                      *ngIf="item.node_a"
                      [routerLink]="authService.isAuthorized('nodes_details') ? ['/nodes/details', item.node_a.id] : null"
                      target="_blank">{{item.node_a.titre}}</a>
                  </td>
                  
                  <!-- nodeB -->
                  <td>
                    <div *ngFor="let node_b of item.node_b">
                      <a 
                        [routerLink]="authService.isAuthorized('nodes_details') ? ['/nodes/details', node_b.id] : null"
                        target="_blank">- {{node_b.titre}}</a>
                    </div>
                  </td>
                  
                  <!-- Longueur visitée -->
                  <td>
                    <b><ngb-highlight
                      [result]="item.nbSupport"
                      [term]="searchNbSupport.value"
                    ></ngb-highlight> Support</b><br>
                    <small class="text-muted">({{item.nbSupport * 100}}/{{item.edge_set_length}}km)</small>
                  </td>

                  <!-- team -->
                  <td>
                    <a 
                      *ngIf="item.node_a.department.team"
                      [routerLink]="authService.isAuthorized('teams_details') ? ['/teams/details', item.node_a.department.team.id] : null"
                      target="_blank">{{item.node_a.department.team.titre}}</a>
                  </td>
                  

                  <!-- Anomalies -->
                  <td>
                    <a
                      href="javascript: void(0);"
                      fragment="anomalies-list"
                      [routerLink]="authService.isAuthorized('visites_details') ? ['details', item.id] : []"
                    >
                    <ng-container *ngIf="item.undone_anomalies > 0 && item.undone_anomalies != item.total_anomalies; else NoAnomalies">
                      <div  class="badge badge-soft-danger c-pointer rounded-pill border-danger border px-3 py-2 font-size-13 w-100">
                        <i class="fas fa-exclamation-triangle me-2"></i> <span class="text-body">{{item.undone_anomalies}}/{{item.total_anomalies}} Anomalies</span>
                      </div>
                    </ng-container>
                    <ng-template #NoAnomalies>
                      <ng-container *ngIf="item.total_anomalies == 0; else AllResolved">
                        <div class="badge badge-soft-info c-pointer rounded-pill border-info border px-3 py-2 font-size-13 w-100">
                          <i class="fas fa-info-circle me-2"></i> <span class="text-body">Pas d'anomalies</span>
                        </div>
                      </ng-container>
                      <ng-template #AllResolved>
                        <div class="badge badge-soft-success c-pointer rounded-pill border-success border px-3 py-2 font-size-13 w-100">
                          <i class="fas fa-check-circle me-2"></i> <span class="text-body">Toutes résolues</span>
                        </div>
                      </ng-template>
                    </ng-template>
                    </a>
                  </td>

                  <!-- actions -->
                  <td align="center">
                    <div ngbDropdown 
                      placement="bottom-left"
                      *ngIf="authService.isAuthorized('visites_details') || authService.isAuthorized('visites_update') || authService.isAuthorized('visites_delete')"
                      >
                      <i
                        class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item"
                          [routerLink]="['details', item.id]"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('visites_details')"
                          >
                          <i class="fas fa-eye me-2"></i> Voir
                        </a>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('visites_update')"
                          [routerLink]="['persist', item.id]"
                          >
                          <!-- skipLocationChange -->
                          <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('visites_delete')"
                          (click)="service.deleteItem(item.id, $event.target)"
                        >
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                  
                  
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(service.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > service.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="service.page"
                    [pageSize]="service.pageSize"
                    (pageChange)="service.onPaginate($event)" [maxSize]="5" 
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>