<style>
  td:empty::after{
    content: "—";
    color: #5f6168;
    text-align: center;
  }
</style>
<div class="container-fluid mb-5">

  <!-- statistics -->
  <div class="row" *ngIf="authService.isAuthorized('statistiques_show')">
    <div class="col-xl">
      <div class="card card-body">

        <!-- title -->
        <div class="clearfix">
              <div class="float-end">
                <months-selector (selectionChange)="ReportStats($event)"></months-selector>
              </div>
              <h4 class="card-title mb-4">Analyses mensuelles</h4>
        </div>

        <ng-container *ngIf="missionsStats$ | async as missionsStats; else statsLoading">
          <div class="row justify-content-between">
            <div class="col-xl-3">
              <div class="border p-3 rounded-3 mb-2">
                <p class="fw-medium mb-3">Total des interruptions</p>
                <strong class="h2">{{missionsStats["Total"]}}</strong>
              </div>
              <div class="border p-3 rounded-3" *ngIf="missionsStats['Duration'] as duration">
                <p class="fw-medium mb-2">Durée moyenne</p>
                <!-- prevDuration -->
                <p class="mt-2 mb-2" *ngIf="missionsStats['prevDuration'] as prevDuration">
                  <ng-container *ngIf="prevDuration > 0;">
                    <span class="badge badge-soft-success font-size-11 me-2"> {{ prevDuration.toFixed(1) }}% 
                    <i class="mdi mdi-arrow-up"></i></span><small>De la période précédente</small>
                  </ng-container>
                  <ng-container *ngIf="prevDuration < 0">
                    <span class="badge badge-soft-danger font-size-11 me-2"> {{ Math.abs(prevDuration).toFixed(1) }}% 
                      <i class="mdi mdi-arrow-down"></i></span><small>De la période précédente</small>
                  </ng-container>
                </p>
                <!-- duration -->
                <strong class="h2 mb-0">{{ duration | decimalHourToTime:'long' }}</strong>
              </div>
            </div>
            <div class="col-xl-6 pt-4 pt-xl-0">
              <p class="fw-bold mb-3">Causes des interruptions</p>
              <ng-container *ngIf="missionsStats['causes'] as causes; else noCauses">
                <apx-chart
                  [series]="causes.series"
                  [chart]="causes.chart"
                  [labels]="causes.labels"
                  [responsive]="causes.responsive"
                ></apx-chart>
              </ng-container>
              <ng-template #noCauses>
                <p class="alert alert-info">Aucune cause connue d'interruptions sur cette période donnée</p>
              </ng-template>
            </div>
            <div class="col-xl-3 pt-4 pt-xl-0" *ngIf="missionsStats['types'] as types">
              <p class="fw-bold mb-3">Interruptions par type</p>
                <apx-chart
                  [series]="types.series"
                  [chart]="types.chart"
                  [dataLabels]="types.dataLabels"
                  [plotOptions]="types.plotOptions"
                  [yaxis]="types.yaxis"
                  [xaxis]="types.xaxis"
                  [legend]="types.legend"
                  [colors]="types.colors"
                  [grid]="types.grid"
                ></apx-chart>
            </div>
          </div>
        </ng-container>
        <ng-template #statsLoading>
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="296px">
            <g style="transform-origin: 50% 50% 0px; transform: rotate(0deg) scale(0.8);" class="ldl-scale"><g class="ldl-ani"><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 50px 50px 0px; transform: scale(0.91); animation: 2.63158s linear -1.97368s infinite normal forwards running breath-af4cf9cc-dd5b-4e06-80dd-6b6424e74632;"><path fill="#f8b26a" d="M11.5 50a38.478 38.478 0 0 0 4.436 17.934l32.564-18.8V11.529c-20.536.791-37 17.745-37 38.471z" style="fill: rgb(133, 162, 182);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 50px 50px 0px; transform: scale(0.91); animation: 2.63158s linear -2.63158s infinite normal forwards running breath-af4cf9cc-dd5b-4e06-80dd-6b6424e74632;"><path fill="#e15b64" d="M50 88.5c21.229 0 38.5-17.271 38.5-38.5 0-6.754-1.785-13.41-5.162-19.247-6.62-11.44-18.719-18.707-31.838-19.224v39.337L17.439 70.531C24.47 81.652 36.809 88.5 50 88.5z" style="fill: rgb(187, 206, 221);"></path></g></g></g></g>
          </svg>
        </ng-template>
        <!-- cards -->
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-body">
        
        <div class="fw-bold">
          DMS <small class="text-muted font-size-12">(Moyenne des interruptions {{DMSMonthly ? "des 30 derniers":"de l'année en cours"}})</small>
          <div class="float-end">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link py-1 px-2" href="javascript: void(0);" (click)="ReportDMS(true)"
                [ngClass]="{'active': !DMSMonthly}">Année</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link font-size-12 py-1 px-2" href="javascript: void(0);" (click)="ReportDMS(false)"
                      [ngClass]="{'active': DMSMonthly}">Mois</a>
              </li>
            </ul>
          </div>
        </div>
        
        <ng-container *ngIf="DMSChart$ | async as DMSChart; else DMSloading">
          <div class="fw-bold mb-4">
           Total : {{ DMSChart.totalDMS | decimalHourToTime }}
          </div>
          <apx-chart
            class="ms-n4 me-n1"
            [series]="DMSChart.series"
            [chart]="DMSChart.chart"
            [xaxis]="DMSChart.xaxis"
            [yaxis]="DMSChart.yaxis"
            [stroke]="DMSChart.stroke"
            [tooltip]="DMSChart.tooltip"
            [dataLabels]="DMSChart.dataLabels"
            [colors]="DMSChart.colors"
          ></apx-chart>
        </ng-container>
        <ng-template #DMSloading>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="310px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="rotate(180 50 50)"><rect x="15" y="15" width="10" height="40" fill="#e8e8e8">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2.1052631578947367s"></animate>
            </rect><rect x="35" y="15" width="10" height="40" fill="#dce4eb">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1.0526315789473684s"></animate>
            </rect><rect x="55" y="15" width="10" height="40" fill="#bbcedd">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3.1578947368421053s"></animate>
            </rect><rect x="75" y="15" width="10" height="40" fill="#85a2b6">
            <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5.2631578947368425s"></animate>
            </rect></g>
          </svg>
        </ng-template>
      </div>
    </div>
  </div>


  <!-- title -->
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Liste des travaux"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    <div class="col-auto">
    <button class="btn btn-primary ms-2" (click)="ShowSearch = !ShowSearch"><i class="fas fa-filter me-1"></i>Filtres</button>
    <a routerLink="/mission/persist" class="btn btn-primary ms-2" *ngIf="authService.isAuthorized('missions_add')"><i class="fas fa-plus-circle"></i> Ajouter</a>
  </div>
  </div>

  <!-- search -->
  <form [class.d-none]="!ShowSearch" [formGroup]="service.missionForm" (ngSubmit)="service.onSearch()" class="row">
    <div class="col-12">
      <div class="card card-body">
        <div class="row g-3">
          <div class="col-12">
            <label class="mt-3 me-3">Type</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="type"
                id="type-1"
                value="true"
              />
              <label class="form-check-label" for="type-1">
                Incident
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="type"
                id="type-2"
                value="false"
              />
              <label class="form-check-label" for="type-2">
                Coupeur / Ouverture
              </label>
            </div>
          </div>
          <div class="col-4">
            <label>Départ</label>
            <ng-select [items]="service.departments$ | async"
                      #searchDepar
                      formControlName="node_a.department.id[]"
                      bindLabel="titre"
                      bindValue="id"
                      [multiple]="true"
                      [minTermLength]="2"
                      placeholder="Départ.."
                      [loading]="service.departmentLoading"
                      typeToSearchText="Veuillez saisir 2 caractères ou plus"
                      [typeahead]="service.departmentInput$">
            </ng-select>
          </div>
          <div class="col-4">
            <label>Point coupure</label>
            <ng-select [items]="service.ANode$ | async"
                #searchANode
                formControlName="node_a.id[]"
                bindValue="id"
                [multiple]="true"
                [minTermLength]="2"
                placeholder="De.."
                [readonly]="!service.departments"
                [loading]="service.ANodeLoading"
                typeToSearchText="Veuillez saisir 2 caractères ou plus"
                [typeahead]="service.ANodeInput$">
                <ng-template ng-label-tmp let-item="item">
                  {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                </ng-template>
            </ng-select>
          </div>
          <div class="col-4">
            <label>Ps</label>
            <ng-select [items]="service.BNode$ | async"
                #searchBNode
                formControlName="node_b.id[]"
                bindValue="id"
                [multiple]="true"
                [minTermLength]="2"
                placeholder="À.."
                [readonly]="!service.departments"
                [loading]="service.BNodeLoading"
                typeToSearchText="Veuillez saisir 2 caractères ou plus"
                [typeahead]="service.BNodeInput$">
                <ng-template ng-label-tmp let-item="item">
                  {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.titre }}<span *ngIf="service.departments && service.departments.length > 1"> - {{ item.department.titre }}</span>
                </ng-template>
            </ng-select>
          </div>
          <div class="col-4">
            <label>Date</label>
            <div class="d-flex gap-2">
            <div class="input-group clockpicker">
              <input #searchDateStart ngbDatepicker formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #ds="ngbDatepicker">
            </div>
            <div class="input-group clockpicker">
              <input #searchDateEnd ngbDatepicker formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #de="ngbDatepicker">
            </div>
            </div>
          </div>
          <div class="col-4">
            <label>Causes</label>
            <select class="form-select" #searchCauses formControlName="causes" autocomplete="false">
              <option value="" selected>Causes...</option>
              <option *ngFor="let cause of service.causesList.slice(service.causesList.length / 2); index as i" [value]="(i + 1)">{{ cause }}</option>
            </select>
          </div>
          <div class="col-4">
            <label>IFS</label>
            <input type="text" placeholder="IFS..." formControlName="IFS" #searchIFS class="form-control">
          </div>
          <div class="col-4">
            <label>DMS</label>
            <input type="text" placeholder="DMS..." formControlName="DMS" #searchDMS class="form-control">
          </div>
          <div class="col-4">
            <label>END</label>
            <input type="text" placeholder="END..." formControlName="END" #searchEND class="form-control">
          </div>
          <div class="col-4">
            <label>Équipe</label>
            <ng-select [items]="service.teams$ | async"
                #searchTeam
                formControlName="node_a.department.team.id[]"
                bindLabel="titre"
                bindValue="id"
                [multiple]="true"
                [minTermLength]="2"
                placeholder="Équipe.."
                [loading]="service.teamLoading"
                typeToSearchText="Veuillez saisir 2 caractères ou plus"
                [typeahead]="service.teamInput$">
            </ng-select>
          </div>
          
          <div class="col d-flex justify-content-end align-items-end">
            <button class="btn btn-primary me-2" type="submit"><i class="fas fa-filter"></i> Filtrer</button>
            <button type="reset" class="btn text-primary" (click)="service.findAll()">
              <i class="bx bx-x me-1"></i>Réinitialiser
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <!-- {{service.groupData(service.mission$ | async).length}} -->
          <div class="table-responsive">
            <table class="table table-bordered border-deem table-hover">
              <thead>
                <tr>
                  <th width="20px"></th>
                  <th width="83px">Type</th>
                  <th width="83px">Date</th>
                  <th style="min-width: 130px;">Heure</th>
                  <th style="min-width: 130px;">Départ</th>
                  <th style="min-width: 130px;">Point coupure</th>
                  <th style="min-width: 130px;">PS</th>
                  <th>Causes</th>
                  <th class="font-size-12">Nb Clients interrompus</th>
                  <th>IFS</th>
                  <th>DMS</th>
                  <th>END</th>
                  <th style="min-width: 130px;">Équipe</th>
                  <th class="font-size-12">Anomalies</th>
                  <th width="50px"></th>
                </tr>
              </thead>
              <tbody>
                <!-- table loading || no data -->
                <tr>
                  <td
                    class="text-center"
                    colspan="15"
                    *ngIf="!(service.mission$ | async) && service.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="15"
                    *ngIf="(service.mission$ | async) && (service.mission$ | async).length === 0 && service.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <ng-container *ngFor="let item of service.mission$ | async; let i = index">
                  <tr class="app-mission-row"
                    valign="middle"
                    [item]="item"
                    [searchDateStart]="searchDateStart"
                    [searchDateEnd]="searchDateEnd"
                    [searchCauses]="searchCauses"
                    [searchIFS]="searchIFS"
                    [searchDMS]="searchDMS"
                    [searchEND]="searchEND"
                  ></tr>
                  <!-- get children missions if it's not search -->
                  <ng-container *ngIf="!service.hasSearch">
                    <ng-container *ngFor="let child of item.children">
                      <tr class="app-mission-row"
                        valign="middle"
                        [item]="child"
                        [child]="true"
                        [searchCauses]="searchCauses"
                        [searchIFS]="searchIFS"
                        [searchDMS]="searchDMS"
                        [searchEND]="searchEND"
                      ></tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(service.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > service.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="service.page"
                    [pageSize]="service.pageSize"
                    (pageChange)="service.onPaginate($event)" [maxSize]="5" 
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>