<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rewrite to /client/dist/ for all requests except those starting with /client/dist/
    RewriteCond %{REQUEST_URI} !^/client/dist/
    RewriteRule ^(.*)$ /client/dist/$1 [L]
</IfModule>
