<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © SQE CMMS.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <!-- Système de surveillance de la qualité de l'énergie électrique -->
                    <!-- Surveillance de l'énergie électrique -->
                    Surveillance de la qualité de l'électricité

                    <!-- EPS: This abbreviation stands for "Electric Power Surveillance"
                    EQMS: This abbreviation stands for "Electricity Quality Monitoring System"
                    PQMS: This abbreviation stands for "Power Quality Monitoring System"

                    Système de gestion de la qualité de l'énergie et de la maintenance
                    Système de gestion des interruptions et de la maintenance de l'électricité
                    Système de gestion informatisée de la maintenance
                    Système de surveillance de la qualité de l'énergie électrique
                    Système de gestion des interruptions de service -->
                </div>
            </div>
        </div>
    </div>
</footer>