<form class="container-fluid pb-5 mb-5" [formGroup]="service.visiteForm">
  <!-- start page title -->
  <app-page-title
    title="Formulaire de visite"
    [Loading]="service.loading$ | async"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div *ngFor="let alert of alerts">
    <ngb-alert 
    type="{{alert.type}}" 
    (closed)="removeAlert(alert)" 
    class="custom-alert glow mt-3"
    >
      {{alert.message}}
    </ngb-alert>
  </div>

  <div class="row mt-4"> 
    <!-- visit -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="mb-3 row">
            <label for="name-input" class="col-md-2 col-form-label">Date</label>
            <div class="col-md-10 row">
              <div class="col">
                <div class="input-group clockpicker">
                  <input ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="date" class="form-control" (click)="ds.open()" #ds="ngbDatepicker">
                </div>
              </div>
              <div class="col-auto">
                <ngb-timepicker [spinners]="false" seconds="true"  formControlName="time"></ngb-timepicker>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input-2" class="col-md-2 col-form-label">Départ</label>
            <div class="col-md-10" id="input-2" >
              <ng-select 
                formControlName="department"
                placeholder="Dépar.."
                (open)="service.department.value && AlertDeparChange()"
              >
              <ng-option *ngFor="let depar of (service.departments$ | async)" [value]="'/api/departments/'+depar.id">{{depar.titre}}</ng-option>
            </ng-select>
            <div #postfeedback *ngIf="showError && !service.department.value" class="invalid-feedback d-block d-block">Ce champ est obligatoire.</div>
          </div>
          </div>
          <div class="mb-3 row">
            <label for="input-1" class="col-md-2 col-form-label">De</label>
            <div class="col-md-10" (click)="showError = true" id="input-1">
                <ng-select [items]="service.ANode$ | async"
                          formControlName="nodeA"
                          bindLabel="titre"
                          bindValue="@id"
                          [minTermLength]="2"
                          [readonly]="!service.department.value"
                          [loading]="service.ANodeLoading"
                          [ngClass]="{'is-invalid':service.ANode.invalid && service.submitted}"
                          typeToSearchText="Veuillez saisir 2 caractères ou plus"
                          [typeahead]="service.ANodeInput$">
                </ng-select>
                <div
                  *ngIf="service.submitted && service.ANode.errors"
                  class="invalid-feedback d-block">
                  <span *ngIf="service.ANode.errors.required">Ce champ est obligatoire.</span>
                </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input-1" class="col-md-2 col-form-label">À</label>
            <div class="col-md-10" >
              <ng-select [items]="service.BNode$ | async"
                      formControlName="nodeB"
                      bindLabel="titre"
                      bindValue="@id"
                      [minTermLength]="2"
                      [multiple]="true"
                      [readonly]="!service.department.value"
                      [loading]="service.BNodeLoading"
                      typeToSearchText="Veuillez saisir 2 caractères ou plus"
                      [typeahead]="service.BNodeInput$">
              </ng-select>
              <div
                *ngIf="service.submitted && service.BNode.errors"
                class="invalid-feedback d-block">
                <span *ngIf="service.BNode.errors.required">Ce champ est obligatoire.</span>
              </div>
            </div>

          </div>
          <!-- <div class="mb-3 row">
            <label for="name-input" class="col-md-2 col-form-label">Équipe</label>
            <div class="col-md-10">
              <ng-select [items]="service.teams$ | async"
                        formControlName="team"
                        bindLabel="titre"
                        bindValue="@id"
                        [minTermLength]="2"
                        [loading]="service.teamLoading"
                        typeToSearchText="Veuillez saisir 2 caractères ou plus"
                        [typeahead]="service.teamInput$">
              </ng-select>
            </div>
          </div> -->
          <div class="mb-3 row">
            <label for="nbSupport-input" class="col-md-2 col-form-label">Nb Support</label>
            <div class="col-md-10">
              <input
                formControlName="nbSupport"
                class="form-control"
                type="number"
                step="1" 
                id="nbSupport-input"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <app-related-anomalies 
      [anomalies]="anomalies"
      [currentEdge]="currentEdge"
      [parentFormGroup]="service.visiteForm"
      [showErrors]="service.submitted"
      (addAlert)="addAlert($event.message, $event.type)"
    ></app-related-anomalies>

  <div class="sticky-actions">
    <button
      (click)="service.Persist('EDIT')"
      [disabled]="(service.loading$ | async) || service.anomalyLoading"
      class="btn btn-primary float-end"
    > Sauvegarder</button>

    <button
      (click)="service.Persist('NEW')"
      [disabled]="(service.loading$ | async) || service.anomalyLoading"
      *ngIf="!service.EditeMode"
      class="btn btn-light me-2 float-end text-primary"
      >Créer et ajouter un nouveau</button>

    <button
      [disabled]="(service.loading$ | async) || service.anomalyLoading"
      (click)="service.Persist('LIST')"
      class="btn btn-light me-2 float-end text-primary"
      ><i class="fas fa-arrow-circle-left me-1"></i> Sauvegarder et retourner à la liste</button>

    <button 
      [disabled]="(service.loading$ | async) || service.anomalyLoading"
      [class.d-none]="!service.EditeMode || !service.existingVisit" 
      (click)="service.deleteItem()"
      type="button" class="btn text-danger float-end me-2 fw-medium btn-light">
      <i class="mdi mdi-trash-can align-middle me-2"></i>Supprimer
    </button>
    <i class="bx bx-loader-alt fa-spin float-end me-3" *ngIf="service.submitted && ((service.loading$ | async) || service.anomalyLoading)"></i>
  </div>

    <!-- end row -->
</div>
</form>
