// dropdown
.dropdown-toggle {
    &:after {
        display: none;
    }
}

.c-pointer {
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: inherit;
    }
}

.ng-select.disabled {
    pointer-events: none;
    opacity: .7;
}

.custom-select {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.ngb-tp {
    position: static;
}

.border-deem,
.border-deem th,
.border-deem td {
    border: 1px solid #ddd;
}



.ngb-dp-weekdays {
    margin-bottom: 0.6rem !important;
}

.ngb-dp-month:first-child .ngb-dp-week {
    padding-left: 0.85rem !important;
}

.ngb-dp-month:last-child .ngb-dp-week {
    padding-right: 0.85rem !important;
}

fieldset:disabled {
    opacity: 0.5;
}