<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-12">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Réinitialiser le mot de passe</h5>
                  <p>Demandez la réinitialisation de votre mot de passe aux administrateurs</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="mb-3">
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Matricule" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Matricule est obligatoire</div>
                </div>
              </div>
              <div class="text-end">
                <button class="btn btn-primary w-md" type="submit">Soumettre</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>Vous vous en souvenez ? <a routerLink="/account/login" class="fw-medium text-primary"> Se connecter ici</a> </p>
          <p>{{year}} © SysGLAD<sup>HTA</sup></p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->