<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Nouveau objectif"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <form class="row mt-4" [formGroup]="service.goalForm" (ngSubmit)="service.onCreate()">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="mb-3 row">
            <label for="name-input" class="col-md-2 col-form-label">Titre</label>
            <div class="col-md-10">
              <input
                formControlName="name"
                [ngClass]="{'is-invalid':service.name.invalid && service.submitted}"
                class="form-control"
                type="text"
                id="name-input"
              />
              <div
                *ngIf="service.submitted && service.name.errors"
                class="invalid-feedback">
                <span *ngIf="service.name.errors.required">Ce champ est obligatoire.</span>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input-1" class="col-md-2 col-form-label">Années ciblées</label>
            <div class="col-md-10" id="input-1">
                <ng-select [items]="[]"
                          [addTag]="true"
                          multiple="true"
                          formControlName="targetYears">
                </ng-select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="achievement-input" class="col-md-2 col-form-label">Total des réalisations</label>
            <div class="col-md-10">
              <input
                formControlName="targetAchievement"
                [ngClass]="{'is-invalid':service.targetAchievement.invalid && service.submitted}"
                class="form-control"
                type="number"
                min="1"
                inputmode="numeric"
                id="achievement-input"
              />
              <div
                *ngIf="service.submitted && service.targetAchievement.errors"
                class="invalid-feedback">
                <span *ngIf="service.targetAchievement.errors.required">Ce champ est obligatoire.</span>
              </div>
            </div>
          </div>
          <div class="mb-4 row">
            <label for="input-1" class="col-md-2 col-form-label">Groupe</label>
            <div class="col-md-10" id="input-1">
                <ng-select [items]="service.goalGroups$ | async"
                          formControlName="goalGroup"
                          bindLabel="name"
                          bindValue="@id"
                          [minTermLength]="2"
                          [loading]="service.goalGroupLoading"
                          [ngClass]="{'is-invalid':service.goalGroup.invalid && service.submitted}"
                          typeToSearchText="Veuillez saisir 2 caractères ou plus"
                          [typeahead]="service.goalGroupInput$">
                </ng-select>
                <div
                  *ngIf="service.submitted && service.goalGroup.errors"
                  class="invalid-feedback">
                  <span *ngIf="service.goalGroup.errors.required">Ce champ est obligatoire.</span>
                </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-md-2 col-form-label">Calcul automatisé : </label>
            <div class="col-md-10">

              <div class="form-check">
                <input type="radio" value="SELECTION_COUNT" formControlName="calc" id="calc-1" class="form-check-input">
                <label for="calc-1" class="form-check-label">Calculé à partir du nombre de fois où l'on a sélectionné</label>
              </div>
              <div class="form-check">
                <input type="radio" value="ANNUAL_VISIT_COUNT" formControlName="calc" id="calc-2" class="form-check-input">
                <label for="calc-2" class="form-check-label">Calculé à partir de toutes les visites de l'année</label>
              </div>
              <div class="form-check">
                <input type="radio" value="ANOMALY_VISIT_COUNT" formControlName="calc" id="calc-3" class="form-check-input">
                <label for="calc-3" class="form-check-label">Calculé à partir de toutes les visites avec anomalies réalisées</label>
              </div>

            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-auto">
              <button class="btn btn-light me-2" routerLink="/goals"><i class="fas fa-arrow-circle-left me-1"></i>Retour à la liste</button>
              <button class="btn btn-primary"><i class="bx bx-loader-alt fa-spin" *ngIf="service.loading$ | async"></i> Ajouter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </form>
  <!-- end row -->
</div>
