<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box d-flex justify-content-center align-items-center">
        <a routerLink="/">
          <div class="fw-bold text-white fs-2 logo">SysGLAD<sup>HTA</sup></div>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>

    <div class="d-flex">
      <!--  -->
      <div class="btn-group d-none d-lg-block me-2" ngbDropdown>
        <button 
          type="button" 
          class="dropdown-toggle btn btn-primary h-100 border-0 rounded-0 ps-3" 
          style="background-color: #2a3042;"
          ngbDropdownToggle>Nouveau 
          <i class="mdi mdi-chevron-down"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('mission_add')"
            href="javascript:void(0);" routerLink="/mission/persist"
          >Travaux</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('anomalies_add')"
            href="javascript:void(0);" routerLink="/anomalies/add"
          >Anomalie</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('visites_add')"
            href="javascript:void(0);" routerLink="/visites/persist"
          >Visite</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('postes_add')"
            href="javascript:void(0);" routerLink="/postes/add"
          >Postes de distribution</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('teams_add')"
            href="javascript:void(0);" routerLink="/teams/add"
          >Équipe</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('users_add')"
            href="javascript:void(0);" routerLink="/users/add"
          >Member</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('departments_add')"
            href="javascript:void(0);" routerLink="/departments/add"
          >Départ</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('dps_add')"
            href="javascript:void(0);" routerLink="/dps/add"
          >Dp</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('edges_add')"
            href="javascript:void(0);" routerLink="/edges/add"
          >Tronçon</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('nodes_add')"
            href="javascript:void(0);" routerLink="/nodes/add"
          >Appareils de coupure</a>
          <a 
            class="dropdown-item"
            *ngIf="authService.isAuthorized('communes_add')"
            href="javascript:void(0);" routerLink="/communes"
          >Commune</a>
        </div>
      </div>
      
      <!-- fullscreen -->
      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>
      <!-- notification -->
      <!-- <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown" ngbDropdownToggle>
          <i class="bx bx-bell bx-tada"></i>
          <span class="badge bg-danger rounded-pill">3</span>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
          <div class="p-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0">NOTIFICATIONS </h6>
              </div>
              <div class="col-auto">
                <a href="javascript: void(0);" class="small">VIEW ALL</a>
              </div>
            </div>
          </div>
          <ngx-simplebar style="position: relative; height: 230px;">
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media">
                <div class="avatar-xs me-3">
                  <span class="avatar-title bg-primary rounded-circle font-size-16">
                    <i class="bx bx-cart"></i>
                  </span>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Notif. Example</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt.</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                      yesterday</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media">
                <img src="assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Notif. Example</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt.</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>3 min ago</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media">
                <div class="avatar-xs me-3">
                  <span class="avatar-title bg-success rounded-circle font-size-16">
                    <i class="bx bx-badge-check"></i>
                  </span>
                </div>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">{{ 'HEADER.NOTIFICATIONS.THIRD.TITLE' }}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt.</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'HEADER.NOTIFICATIONS.THIRD.TIME' }}</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media">
                <img src="assets/images/users/avatar-4.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                <div class="media-body">
                  <h6 class="mt-0 mb-1">{{ 'HEADER.NOTIFICATIONS.FOUR.TITLE' }}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt.</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'HEADER.NOTIFICATIONS.FOUR.TIME' }}</p>
                  </div>
                </div>
              </div>
            </a>
          </ngx-simplebar>
          <div class="p-2 border-top d-grid">
            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
              <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">{{
                'HEADER.NOTIFICATIONS.LOAD_MORE' }}</span>
            </a>
          </div>
        </div>
      </div> -->
      <!-- profile -->
      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item d-flex align-items-center" ngbDropdownToggle id="page-header-user-dropdown">
          <!-- <div class="avatar-sm me-2 ms-2"><span class="avatar-title rounded-circle bg-transparent border text-muted"><i class="fas fa-user"></i></span></div> -->
          <span class="ms-1">{{username}}</span>
          <i class="mdi mdi-chevron-down"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <ng-container *ngIf="authService.isAuthorized('profile_update')">
            <!-- item-->
            <a class="dropdown-item" routerLink="/users/profile"><i class="bx bx-user font-size-16 align-middle me-1"></i>
              profile</a>
            <div class="dropdown-divider"></div>
          </ng-container>
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
              Déconnexion</a>
        </div>
      </div>

    </div>
  </div>
</header>