// 
// _table.scss
// 

.table {
  th {
    font-weight: $font-weight-bold;
  }

  .table-light {
    color: $body-color;
    border-color: $table-border-color;
    background-color: $table-head-bg;
  }
}

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }
}


.table-dark>:not(:last-child)>:last-child>* {
  border-bottom-color: $table-dark-border-color;
}

.table-nowrap {

  th,
  td {
    white-space: nowrap;
  }
}

.table.datatables thead tr th {
  &:not([sortable]) {

    &::before,
    &::after {
      content: unset;
    }
  }

  &[sortable] {

    &::before,
    &::after {
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      content: "\2191" !important;
      right: 5px;
    }

    &::after {

      content: "\2193" !important;
      right: 11px;

    }
  }
}