<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Postes de distribution"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    <div class="col-auto">
      <button class="btn bg-light text-primary ms-2" title="Importer" (click)="openModal()">
        <i class="fas fa-upload"></i>
      </button>
      <button class="btn bg-light text-primary ms-2" title="Exporter" (click)="ExportModal()">
        <i class="fas fa-download"></i>
      </button>
      <a routerLink="/postes/add" class="btn btn-primary ms-2"
      *ngIf="authService.isAuthorized('postes_add')"
        ><i class="fas fa-plus-circle"></i> Ajouter</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          
          <!-- Table -->
          <form [formGroup]="service.posteForm" (ngSubmit)="service.onSearch()" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Designation</th>
                  <th>Départ</th>
                  <th>MLE</th>
                  <th>P KVA</th>
                  <th>Nb de clients</th>
                  <th>Commune</th>
                  <th>Date MST</th>
                  <th>Type</th>
                  <th>Marque</th>
                  <th>Poste</th>
                  <th>N° serie</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <!-- search -->
                <tr valign="middle" 
                >
                  <td><input type="text" placeholder="Designation..." formControlName="designation" #searchDesignation class="form-control"></td>
                  <td>
                    <ng-select [items]="service.departments$ | async"
                              #searchDepar
                              formControlName="node.department.id[]"
                              bindLabel="titre"
                              bindValue="id"
                              [multiple]="true"
                              [minTermLength]="2"
                              placeholder="Départ.."
                              [loading]="service.departmentLoading"
                              typeToSearchText="Veuillez saisir 2 caractères ou plus"
                              [typeahead]="service.departmentInput$">
                    </ng-select>
                  </td>
                  <td><input type="text" placeholder="MLE..." formControlName="MLE" #searchMLE class="form-control"></td>
                  <td><input type="text" placeholder="P KVA..." formControlName="PKVA" #searchPKVA class="form-control"></td>
                  <td><input type="text" placeholder="Nb de clients..." formControlName="nb_clients" #searchNbClients class="form-control"></td>

                  <td>
                    <ng-select [items]="service.communes$ | async"
                              #searchCommunes
                              formControlName="node.commune.id[]"
                              bindLabel="titre"
                              bindValue="id"
                              [multiple]="true"
                              
                              [minTermLength]="2"
                              placeholder="Communes.."
                              [loading]="service.communeLoading"
                              typeToSearchText="Veuillez saisir 2 caractères ou plus"
                              [typeahead]="service.communeInput$">
                    </ng-select>
                  </td>

                  <td>
                    <div class="d-flex gap-2">
                    <div class="input-group clockpicker">
                      <input #searchDateStart ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #ds="ngbDatepicker">
                    </div>
                    <div class="input-group clockpicker">
                      <input #searchDateEnd ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #de="ngbDatepicker">
                    </div>
                    </div>
                  </td>

                  <td><input type="text" placeholder="Type..." formControlName="type" #searchType class="form-control"></td>
                  <td><input type="text" placeholder="Marque..." formControlName="marque" #searchMarque class="form-control"></td>
                  <td><input type="text" placeholder="Poste..." formControlName="poste" #searchPoste class="form-control"></td>
                  <td><input type="text" placeholder="N° serie..." formControlName="n_serie" #searchNSerie class="form-control"></td>


                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="service.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                <!-- loading -->
                <tr>
                  <td
                    class="text-center"
                    colspan="11"
                    *ngIf="!(service.postes$ | async) && service.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="11"
                    *ngIf="(service.postes$ | async) && (service.postes$ | async).length === 0 && service.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <!-- data -->
                <tr *ngFor="let poste of (service.postes$ | async); let i = index">
                  <td>
                    <ngb-highlight
                      [result]="poste.designation"
                      [term]="searchDesignation.value"
                    ></ngb-highlight>
                  </td>

                  <td>
                    <a 
                      *ngIf="poste.node.department"
                      [routerLink]="authService.isAuthorized('departments_details') ? ['/departments/details', poste.node.department.id] : null"
                      target="_blank" rel="noopener noreferrer">{{poste.node.department.titre}}</a>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="poste.MLE"
                      [term]="searchMLE.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.PKVA"
                      [term]="searchPKVA.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.nb_clients"
                      [term]="searchNbClients.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <a 
                      *ngIf="poste.node.commune"
                      [routerLink]="authService.isAuthorized('communes_details') ? ['/communes/details', poste.node.commune.id] : null"
                      target="_blank" rel="noopener noreferrer">{{poste.node.commune.titre}}</a>
                  </td>
                  <td>
                    <ngb-highlight
                    [result]="poste.date_mst | date:'shortDate'"
                    [term]="searchDateStart.value+searchDateEnd.value"
                  ></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="poste.type"
                      [term]="searchType.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.marque"
                      [term]="searchMarque.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.poste"
                      [term]="searchPoste.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.n_serie"
                      [term]="searchNSerie.value"
                    ></ngb-highlight>
                  </td>
                  
                  <td align="center">
                    <div ngbDropdown 
                      placement="bottom-left"
                      *ngIf="authService.isAuthorized('postes_details') || authService.isAuthorized('postes_update') || authService.isAuthorized('postes_delete')"
                      >
                      <i
                        class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item"
                          [routerLink]="['details', poste.id]"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_details')"
                          >
                          <i class="fas fa-eye me-2"></i> Voir
                        </a>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_update')"
                          [routerLink]="['update', poste.id]"
                          >
                          <!-- skipLocationChange -->
                          <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_delete')"
                          (click)="service.deleteItem(poste.id, $event.target)"
                        >
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(service.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > service.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="service.page"
                    [pageSize]="service.pageSize"
                    (pageChange)="service.onPaginate($event)"
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header border-0">
		<h4 class="modal-title"></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form id="import-form" [formGroup]="service.importForm" (ngSubmit)="service.importSpreadSheet()">
      <div class="mb-3 row m-n2">

        <div class="col-lg-6 p-2">
          <div class="text-center border rounded-lg py-4 p-2 p-lg-5 h-100">
          <h3 class="mb-4">Commencer par un modèle</h3>
          <i class="fas fa-file-download display-1 my-3" style="color: #d3e8fc;"></i>
          <p class="text-muted">Téléchargez un modèle pour commencer.</p>
          <button class="btn btn-outline-info">Télécharger un modèle</button>
        </div>
        </div>

        <div class="col-lg-6 p-2 text-center">
          <div class=" border rounded-lg py-4 p-2 p-lg-5">
          <h3>J'ai déjà un fichier prêt</h3>
          <label class="d-flex align-items-center justify-content-center flex-column my-4 position-relative">
            <i class="fas fa-file-excel display-1 my-3" style="color: #d3e8fc;"></i>
            <input class="position-absolute w-100 h-100 opacity-0 c-pointer" formControlName="spreadSheet" type="file" accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onUpload($event)">

            <p class="text-muted">{{service.selectedFile && service.selectedFile.name ? service.selectedFile.name : "Sélectionnez un fichier ou glissez-le ici"}}</p>
            <p *ngIf="service.submitted && service.spreadSheet.errors" class="text-danger">
                <span *ngIf="service.spreadSheet.errors.required">Veuillez sélectionner un fichier !</span>
            </p>
            <span class="btn btn-outline-info">Sélectionner un fichier</span>
          </label>
          <div class="form-check form-checkbox-outline form-check-info mb-3">
            <input type="checkbox" value="true" formControlName="addNonExitingAssociation" id="addNonExitingAssociation" checked class="form-check-input">
            <label for="addNonExitingAssociation" class="form-check-label">Ajouter " Appareils coupeur " si elle n'a pas été trouvée</label>
          </div>
          <div class="form-check form-checkbox-outline form-check-info mb-3">
            <input type="checkbox" value="true" formControlName="updateIfExist" id="updateIfExist" checked class="form-check-input">
            <label for="updateIfExist" class="form-check-label">Mettre à jour le poste s'il a déjà été trouvé<br><small class="text-muted">(chaque poste est identifié par sa désignation et son appareil de coupure)</small></label>
          </div>
          </div>

        </div>

      </div>
		</form>
	</div>
	<div class="modal-footer border-0">
		<button type="button" class="btn btn-light" [disabled]="service.isLoading">Annuler</button>
		<button type="submit" class="btn btn-info" [disabled]="service.isLoading" form="import-form">Importer</button>
	</div>
</ng-template>


<ng-template #export_content let-exportmodal>
	<div class="modal-header border-0">
		<h4 class="modal-title">Filtre de données exportées</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="exportmodal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form id="import-form" [formGroup]="service.exportForm" (ngSubmit)="service.exportSpreadSheet()">
      <div class="mb-3 row m-n2">
       
       
        <!-- Designation -->
        <div class="mb-3 row">
            <label for="export-1" class="col-md-2 col-form-label">Designation</label>
            <div class="col-md-10">
              <input type="text" placeholder="Designation..." formControlName="designation"  class="form-control">
            </div>
        </div>
        <!-- Départ -->
        <div class="mb-3 row">
            <label for="export-2" class="col-md-2 col-form-label">Départ</label>
            <div class="col-md-10">
              <ng-select [items]="service.departments$ | async"
                          formControlName="node.department.id[]"
                          bindLabel="titre"
                          bindValue="id"
                          [multiple]="true"
                          [minTermLength]="2"
                          placeholder="Départ.."
                          [loading]="service.departmentLoading"
                          typeToSearchText="Veuillez saisir 2 caractères ou plus"
                          [typeahead]="service.departmentInput$">
                </ng-select>
            </div>
        </div>
        <!-- MLE -->
        <div class="mb-3 row">
            <label for="export-3" class="col-md-2 col-form-label">MLE</label>
            <div class="col-md-10">
              <input type="text" placeholder="MLE..." formControlName="MLE"  class="form-control">
            </div>
        </div>
        <!-- P KVA -->
        <div class="mb-3 row">
            <label for="export-4" class="col-md-2 col-form-label">P KVA</label>
            <div class="col-md-10">
              <input type="text" placeholder="P KVA..." formControlName="PKVA"  class="form-control">
            </div>
        </div>
        <!-- Nb de clients -->
        <div class="mb-3 row">
            <label for="export-5" class="col-md-2 col-form-label">Nb de clients</label>
            <div class="col-md-10">
              <input type="text" placeholder="Nb de clients..." formControlName="nb_clients"  class="form-control">
            </div>
        </div>
        <!-- Commune -->
        <div class="mb-3 row">
            <label for="export-6" class="col-md-2 col-form-label">Commune</label>
            <div class="col-md-10">
              <ng-select [items]="service.communes$ | async"
                          formControlName="node.commune.id[]"
                          bindLabel="titre"
                          bindValue="id"
                          [multiple]="true"
                          [minTermLength]="2"
                          placeholder="Communes.."
                          [loading]="service.communeLoading"
                          typeToSearchText="Veuillez saisir 2 caractères ou plus"
                          [typeahead]="service.communeInput$">
                </ng-select>
            </div>
        </div>
        <!-- Date MST -->
        <div class="mb-3 row">
            <label for="export-7" class="col-md-2 col-form-label">Date MST</label>
            <div class="col-md-5">
              <input ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #sds="ngbDatepicker">
            </div>
            <div class="col-md-5">
              <input ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #sde="ngbDatepicker">
            </div>
        </div>
        <!-- Type -->
        <div class="mb-3 row">
            <label for="export-8" class="col-md-2 col-form-label">Type</label>
            <div class="col-md-10">
              <input type="text" placeholder="Type..." formControlName="type" class="form-control">
            </div>
        </div>
        <!-- Marque -->
        <div class="mb-3 row">
            <label for="export-9" class="col-md-2 col-form-label">Marque</label>
            <div class="col-md-10">
              <input type="text" placeholder="Marque..." formControlName="marque" class="form-control">
            </div>
        </div>
        <!-- Poste -->
        <div class="mb-3 row">
            <label for="export-10" class="col-md-2 col-form-label">Poste</label>
            <div class="col-md-10">
              <input type="text" placeholder="Poste..." formControlName="poste" class="form-control">
            </div>
        </div>
        <!-- N° serie -->
        <div class="mb-3 row">
            <label for="export-11" class="col-md-2 col-form-label">N° serie</label>
            <div class="col-md-10">
              <input type="text" placeholder="N° serie..." formControlName="n_serie" class="form-control">
            </div>
        </div>
        <!-- Origine -->
        <div class="mb-3 row">
            <label for="export-11" class="col-md-2 col-form-label">Origine</label>
            <div class="col-md-10">
              <input type="text" placeholder="Origine..." formControlName="origine" class="form-control">
            </div>
        </div>
        

      </div>
		</form>
	</div>
	<div class="modal-footer mt-3 border-0">
		<button type="button" class="btn btn-light" [disabled]="service.isLoading" (click)="exportmodal.dismiss()">Annuler</button>
		<button type="submit" class="btn btn-info" [disabled]="service.isLoading" form="import-form">Télécharger</button>
	</div>
</ng-template>