<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Postes de distribution"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    <div class="col-auto">
      <button class="btn bg-light text-primary ms-2" 
        data-toggle="collapse" *ngIf="authService.isAuthorized('users_export')"
        (click)="hideExport = !hideExport"
        title="Exporter">
        <i class="fas fa-upload"></i>
      </button>
      <button class="btn bg-light text-primary ms-2" title="Importer" 
        *ngIf="authService.isAuthorized('users_import')">
        <i class="fas fa-download"></i>
      </button>
      <a routerLink="/postes/add" class="btn btn-primary ms-2"
      *ngIf="authService.isAuthorized('postes_add')"
        ><i class="fas fa-plus-circle"></i> Ajouter</a
      >
    </div>
  </div>

  <div class="collapse" id="collapseExample" [ngbCollapse]="hideExport">
    <div class="row">
      <div class="col-12">
        <div class="card card-body">
          <form class="row gy-2 gx-3 align-items-end">
            <div class="col-auto col-lg-5">
              <label for="filterSelect">Propriété</label>
              <!-- formControlName="property" -->
              <select class="form-select w-100"
                id="filterSelect"
                required>
                <option selected>Choisir une option...</option>
                <option value="username">Matricule</option>
                <option value="name">Nom</option>
                <option value="role">Role</option>
                <option value="team">Equipe</option>
              </select>
            </div>
            <div class="col-sm-auto col-lg-5">
              <label for="filterInput">Valeur</label>
              <!-- formControlName="value" -->
              <input
                type="text"
                class="form-control"
                id="filterInput"
                placeholder="Recherche..."
                required
              />
            </div>
            <div class="col-sm-auto col-lg">
              <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-filter"></i> Filtrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          
          <!-- Table -->
          <form [formGroup]="posteService.posteForm" (ngSubmit)="posteService.onSearch()" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="13%">Designation</th>
                  <th width="16%">Départements</th>
                  <th width="9%">MLE</th>
                  <th width="9%">P KVA</th>
                  <th width="9%">Nb de clients</th>
                  <th width="16%">Commune</th>
                  <th>Date MST</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <!-- search -->
                <tr valign="middle" 
                >
                  <td><input type="text" placeholder="Designation..." formControlName="designation" #searchDesignation class="form-control"></td>
                  <td>
                    <ng-select formControlName="departement.id[]" [multiple]="true" placeholder="Départements.." #searchDepar>
                      <ng-option *ngFor="let depar of (posteService.departements$ | async)" [value]="depar.id">{{depar.titre}}</ng-option>
                    </ng-select>
                  </td>
                  <td><input type="text" placeholder="MLE..." formControlName="MLE" #searchMLE class="form-control"></td>
                  <td><input type="text" placeholder="P KVA..." formControlName="PKVA" #searchPKVA class="form-control"></td>
                  <td><input type="text" placeholder="Nb de clients..." formControlName="nb_clients" #searchNbClients class="form-control"></td>

                  <td>
                    <ng-select formControlName="commune.id[]" [multiple]="true" placeholder="Communes.." #searchCommunes>
                      <ng-option *ngFor="let user of (posteService.communes$ | async)" [value]="user.id">{{user.titre}}</ng-option>
                    </ng-select>
                  </td>

                  <td>
                    <div class="d-flex gap-2">
                    <div class="input-group clockpicker">
                      <input #searchDateStart ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #ds="ngbDatepicker">
                    </div>
                    <div class="input-group clockpicker">
                      <input #searchDateEnd ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #de="ngbDatepicker">
                    </div>
                    </div>
                  </td>

                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="posteService.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                <!-- loading -->
                <tr>
                  <td
                    class="text-center"
                    colspan="8"
                    *ngIf="!(posteService.postes$ | async) && posteService.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="8"
                    *ngIf="(posteService.postes$ | async) && (posteService.postes$ | async).length === 0 && posteService.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <!-- data -->
                <tr *ngFor="let poste of (posteService.postes$ | async); let i = index">
                  <td>
                    <ngb-highlight
                      [result]="poste.designation"
                      [term]="searchDesignation.value"
                    ></ngb-highlight>
                  </td>

                  <td>
                    <a 
                      *ngIf="poste.departement"
                      [routerLink]="authService.isAuthorized('departements_details') ? ['/departements/details', poste.departement.id] : null"
                      target="_blank" rel="noopener noreferrer">{{poste.departement.titre}}</a>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="poste.MLE"
                      [term]="searchMLE.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.PKVA"
                      [term]="searchPKVA.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="poste.nb_clients"
                      [term]="searchNbClients.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <a 
                      *ngIf="poste.commune"
                      [routerLink]="authService.isAuthorized('communes_details') ? ['/communes/details', poste.commune.id] : null"
                      target="_blank" rel="noopener noreferrer">{{poste.commune.titre}}</a>
                  </td>
                  <td>
                    <ngb-highlight
                    [result]="poste.date_mst | date:'shortDate'"
                    [term]="searchDateStart.value+searchDateEnd.value"
                  ></ngb-highlight>
                  </td>
                  <td align="center">
                    <div ngbDropdown 
                      placement="bottom-left"
                      *ngIf="authService.isAuthorized('postes_details') || authService.isAuthorized('postes_update') || authService.isAuthorized('postes_delete')"
                      >
                      <i
                        class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item"
                          [routerLink]="['details', poste.id]"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_details')"
                          >
                          <i class="fas fa-eye me-2"></i> Voir
                        </a>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_update')"
                          [routerLink]="['update', poste.id]"
                          >
                          <!-- skipLocationChange -->
                          <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('postes_delete')"
                          (click)="posteService.deleteItem(poste.id, $event.target)"
                        >
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(posteService.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > posteService.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="posteService.page"
                    [pageSize]="posteService.pageSize"
                    (pageChange)="posteService.onPaginate($event)"
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>