<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Autorisation des utilisateurs" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="alert alert-info mt-3">
        <h6 class="alert-heading">Les changements peuvent prendre un certain temps avant de prendre effet !</h6>
        Pour que les changements soient immédiatement pris en compte, l'utilisateur doit se déconnecter et s'authentifier à nouveau.<br>
        Sinon les changements seront effectués lorsque la session expire ou l'utilisateur n'est pas autorisé à une interface.<br>
        <small>La session de l'utilisateur est mise à jour chaque 24 heures</small>
    </div>
    <!-- end page title -->
    <form class="row mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="col-12">
            <div class="card">
                <div class="card-body">
                    <i class="bx bx-loader-alt fa-spin text-center fs-1 text-primary d-block m-5" *ngIf="!submitted && (service.loading$ | async)"></i>
                    <ng-container *ngIf="(UserPermissions$ | async) as UserPermissions">
                    <div class="row">
                        <ul ngbNav #nav="ngbNav" [activeId]="0" class="nav-tabs">
                            <li *ngFor="let r of UserPermissions; let j=index"
                                [ngbNavItem]="j"
                                >
                                <a ngbNavLink>
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">{{r.label}}</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-6 mt-4" *ngFor="let access of access; let i=index">
                                            <h5 class="mb-3">{{access.name}}</h5>
                                            <div class="ms-3">
<!--                                                 
                                                <ng-container *ngVar="(
                                                        access.name + '_' +
                                                        (access.permissions === -1 ? permission : 
                                                        ((access.permissions | typeof) === 'number' ? 
                                                        permissions[access.permissions] : permissions[key])) 
                                                    ) as value">
                                                    <div *ngFor="let permission of permissions; let i=index">
                                                            <label>
                                                                <input type="checkbox" 
                                                                    [formArrayName]="r.role"
                                                                    [value]="value"
                                                                    (change)="onChange($event, r.role)"
                                                                    [checked]="isChecked(value, r.role)"
                                                            >
                                                            {{permission}}
                                                        </label>
                                                    </div>
                                                </ng-container> -->

                                                <ng-container *ngIf="access.permissions === -1;else second">
                                                    <div *ngFor="let permission of permissions; let i=index">
                                                        <label>
                                                            <input type="checkbox" 
                                                                [formArrayName]="r.role"
                                                                (change)="onChange($event, r.role)"
                                                                [value]="access.value+'_'+permission.value"
                                                                [checked]="isChecked(access.value+'_'+permission.value, r.role)"
                                                            >
                                                            {{permission.name}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-template #second>
                                                    <ng-container
                                                        *ngIf="(access.permissions | typeof) === 'number';else third">
                                                        <label>
                                                            <input type="checkbox"
                                                                [formArrayName]="r.role"
                                                                (change)="onChange($event, r.role)"
                                                                [value]="access.value+'_'+permissions[access.permissions].value"
                                                                [checked]="isChecked(access.value+'_'+permissions[access.permissions].value, r.role)"
                                                            >
                                                            {{permissions[access.permissions].name}}
                                                        </label>
                                                    </ng-container>
                                                </ng-template>
                                                <ng-template #third>
                                                    <div *ngFor="let key of access.permissions; let i=index">
                                                        <label>
                                                            <input type="checkbox"
                                                                [formArrayName]="r.role"
                                                                (change)="onChange($event, r.role)"
                                                                [value]="access.value+'_'+permissions[key].value"
                                                                [checked]="isChecked(access.value+'_'+permissions[key].value, r.role)"
                                                            >
                                                            {{permissions[key].name}}
                                                        </label>
                                                    </div>
                                                </ng-template>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <i class="bx bx-loader-alt fa-spin" *ngIf="submitted && (service.loading$ | async)"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
        </fieldset>
        <!-- end col -->
    </form>
</div>