<style>
.summary tr td:first-child {
  white-space: nowrap;
}
.summary tr td:last-child {
width: 99%;
}
</style>
<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Fiche d'incident / coupeur"
    [Loading]="service.loading$ | async"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="card mt-4">
      <div class="card-body" *ngIf="mission">
        <div 
          *ngIf="mission.type != null"
          [ngClass]="mission.type ? 'badge-soft-danger' : 'badge-soft-info'"
          class="badge rounded-pill float-end fs-5">
          {{mission.type ? "Incident" : "Coupeur" }}
        </div>
        <h2>{{mission.dateStart | date:'d MMMM yyyy':'Africa/Casablanca'}}</h2>

        <div class="row my-5">
          <div class="col-auto">
            <div class="border-end pe-5"><p class="fw-medium mb-3">Durée</p><strong class="h2">{{service.getDiff(mission.dateStart, mission.dateEnd)}}&nbsp;</strong></div>
          </div>
          <div class="col-auto">
            <div class="border-end pe-5"><p class="fw-medium mb-3">DMS</p><strong class="h2" title="{{mission.DMS}}">{{mission.DMS?(mission.DMS | decimalHourToTime): "-"}}</strong></div>
          </div>
          <div class="col-auto">
            <div class="border-end pe-5"><p class="fw-medium mb-3">IFS</p><strong class="h2">{{mission.IFS?mission.IFS: "-"}}</strong></div>
          </div>
          <div class="col-auto">
            <div><p class="fw-medium mb-3">END</p><strong class="h2" title="{{mission.END}}">{{mission.END?(mission.END): "-"}}</strong></div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table summary table-nowrap mb-0">
            <tbody>
              <tr>
                <th scope="row">Heure :</th>
                <td>{{mission.dateStart | date:'HH:mm:ss':'Africa/Casablanca'}} → {{mission.dateEnd ? (mission.dateEnd  | date:'HH:mm:ss':'Africa/Casablanca') : "— : —"}}</td>
              </tr>
              <tr>
                <th scope="row">Départ :</th>
                <td>
                  <a 
                    *ngIf="mission.node_a.department"
                    [routerLink]="authService.isAuthorized('departments_details') ? ['/departments/details', mission.node_a.department.id] : null"
                    target="_blank">{{mission.node_a.department.titre}}</a>
                </td>
              </tr>
              <tr>
                <th scope="row">Point coupure :</th>
                <td>
                  <a 
                    *ngIf="mission.node_a"
                    [routerLink]="authService.isAuthorized('nodes_details') ? ['/nodes/details', mission.node_a.id] : null"
                    target="_blank">{{mission.node_a.titre}}</a>
                </td>
              </tr>
              <tr>
                <th scope="row">PS :</th>
                <td>
                  <div *ngFor="let node_b of mission.node_b">
                    <a 
                      [routerLink]="authService.isAuthorized('nodes_details') ? ['/nodes/details', node_b.id] : null"
                      target="_blank">{{mission.node_b.length==1 ? "": "- "}}{{node_b.titre}}</a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Causes :</th>
                <td>
                  <ng-container *ngIf="mission.type != null && mission.type && mission.causes;">
                    {{service.causesList[mission.causes + 3]}}
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th scope="row">Nb Clients interrompus :</th>
                <td>{{mission.nbClients}}</td>
              </tr>
              <tr>
                <th scope="row">Équipe :</th>
                <td><a 
                  *ngIf="mission.team"
                  [routerLink]="authService.isAuthorized('teams_details') ? ['/teams/details', mission.team.id] : null"
                  target="_blank">{{mission.team.titre}}</a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <button 
          class="btn btn-primary mt-4 float-end ms-2" 
          *ngIf="authService.isAuthorized('missions_update')"
          routerLink="/mission/persist/{{mission.id}}"
        ><i class="fas fa-edit me-1"></i>Modifier</button>
        <button class="btn btn-light mt-4 float-end" routerLink="/mission"><i class="fas fa-arrow-circle-left me-1"></i>Retour à la liste</button>
        
      </div>
    </div>
  </div>
  <app-related-anomalies  [currentEdge]="currentEdge"></app-related-anomalies>
</div>

  