<style>
.summary tr td:first-child {
  white-space: nowrap;
}
.summary tr td:last-child {
width: 99%;
}
.mini-stat-icon {
  overflow:hidden;
  position:relative
}
.mini-stat-icon:before,
.mini-stat-icon:after {
  content:"";
  position:absolute;
  width:8px;
  height:54px;
  background-color:#ffffff1a;
  left:16px;
  transform:rotate(32deg);
  top:-5px;
  transition:all .4s
}
.mini-stat-icon:after {
  left:-12px;
  width:12px;
  transition:all .2s
}
/* @media (max-width: 1200px) {
  .order-lg-first{
    order: -1 
  }
} */
</style>
<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Fiche d'incident / coupure"
    [Loading]="service.loading$ | async"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->


  <div class="row" *ngIf="mission">
    <div class="col-12 order-xl-last col-xl-3 top-0 mt-4 mt-xl-n5 me-xl-n4 shadow-sm border-start p-3 p-xl-5" style="background-color: #f8f8ff;">
      <div class="position-sticky" style="top: 90px;">
        <p class="text-primary fw-medium mb-4">OVERVIEW</p>
        <!-- <div 
          *ngIf="mission.type != null"
          [ngClass]="mission.type ? 'badge-soft-danger' : 'badge-soft-info'"
          class="badge rounded-pill fs-5">
          {{mission.type ? "Incident" : "coupure" }}
        </div> -->
        <p class="text-muted mb-1 mt-5">Date</p>
        <p class="font-size-20 fw-medium mb-5">{{mission.dateStart | date:'d MMMM yyyy':'Africa/Casablanca'}}</p>
        <p class="text-muted mb-1">Départ</p>
        <a 
          class="font-size-20 fw-medium mb-5 d-block text-body"
          *ngIf="mission.node_a.department"
          [routerLink]="authService.isAuthorized('departments_details') ? ['/departments/details', mission.node_a.department.id] : null"
          target="_blank">{{mission.node_a.department.titre}}</a>
        <p class="text-muted mb-1">Équipe</p>
        <a class="font-size-20 fw-medium d-block text-body"
          [routerLink]="authService.isAuthorized('teams_details') ? ['/teams/details', mission.node_a.department.team.id] : null"
          target="_blank">{{mission.node_a.department.team.titre}}</a>
      </div>
    </div>
    <div class="col-12 col-xl-9 pt-4">

      <div class="card card-body mx-n3 mx-xl-0 mb-0 h-100">
        <ngb-accordion #acc="ngbAccordion" [activeIds]="activeAccordion" [closeOthers]="true" [destroyOnHide]="true">
          <ngb-panel id="accordion-{{mission.id}}">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex">
                <button class="btn" ngbPanelToggle><i class="mdi accor-plus-icon mdi-chevron-{{opened ? 'up' : 'down'}} fs-3 c-pointer"></i></button>
                <app-accordion-header class="flex-fill" [mission]="mission"></app-accordion-header>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-accordion-panel [mission]="mission"></app-accordion-panel>
            </ng-template>
          </ngb-panel>

          <ng-container *ngFor="let child of mission.children">
            <ngb-panel id="accordion-{{child.id}}">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex">
                  <button class="btn" ngbPanelToggle><i class="mdi accor-plus-icon mdi-chevron-{{opened ? 'up' : 'down'}} fs-3 c-pointer"></i></button>
                  <app-accordion-header class="flex-fill" [mission]="child"></app-accordion-header>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <app-accordion-panel [mission]="child"></app-accordion-panel>
              </ng-template>
            </ngb-panel>
          </ng-container>
        </ngb-accordion>

      </div>


    </div>
  </div>

</div>

  