<style>    
    .editable-cell:hover{
        outline: 1px solid rgba(32,45,52,.4);
        cursor: pointer;
        transition: outline .05s;
    }

</style>
<div class="container-fluid mb-5">

    <!-- start page title -->
    <app-page-title
    title="Etat de suivi des Objectifs {{current_year}}"
    [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <!-- end page title -->

    <div class="row mt-4">
        <div class="col-12">
            <div class="card card-body">

                <p class="text-center">
                    <button class="btn btn-light font-size-10" (click)="updateYear(+current_year - 1)"><i class="fas fa-chevron-left"></i></button>
                    <b class="mx-3">{{current_year}}</b>
                    <button class="btn btn-light font-size-10" (click)="updateYear(+current_year + 1)"><i class="fas fa-chevron-right"></i></button>
                </p>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" valign="middle" rowspan="2">Intitulé de l'action</th>
                            <th scope="col" valign="middle" rowspan="2">Obj</th>
                            <th scope="col" colspan="2" *ngFor="let month of months">{{month}}</th>
                            <th scope="col" colspan="2">Cumul</th>
                            <th scope="col" valign="middle" rowspan="2"> % Obj</th>
                          </tr>
                          <tr>
                            <ng-container *ngFor="let number of months">
                                <th>P</th>
                                <th>R</th>
                            </ng-container>
                            <!-- Cumul -->
                            <th>P</th>
                            <th>R</th>
                          </tr>
                        </thead>
                        <tbody *ngIf='!data_loading && (data$ | async) as data; else loading_template'>
                            <ng-container *ngFor="let group of data | keyvalue">
                                <tr>
                                 <td class="bg-light fw-bold" colspan="29">{{group.key}}</td>
                                </tr>
                                <tr *ngFor="let goal of group.value | keyvalue">
                                    <td>{{goal.key}}</td>
                                    <td>{{goal.value.target_achievement}}</td>
                                    <ng-container *ngFor="let number of months; let month = index">
                                        <ng-container *ngIf="goal.value.achievements[+month + 1];else empty_cells">
                                            <td [ngClass]="{'editable-cell': authorized}" (click)="showForm(true, +month + 1, goal.value.id,goal.value.achievements[+month + 1])">
                                                {{goal.value.achievements[+month + 1].p? goal.value.achievements[+month + 1].p: ""}} 
                                            </td>
                                            <td [ngClass]="{'editable-cell': authorized}" (click)="showForm(false, +month + 1, goal.value.id,goal.value.achievements[+month + 1])">
                                                {{goal.value.achievements[+month + 1].r?goal.value.achievements[+month + 1].r: ""}} 
                                            </td>
                                        </ng-container>
                                        <ng-template #empty_cells>
                                            <td [ngClass]="{'editable-cell': authorized}" (click)="showForm(true, +month + 1, goal.value.id)"></td>
                                            <td [ngClass]="{'editable-cell': authorized}" (click)="showForm(false, +month + 1, goal.value.id)"></td>
                                        </ng-template>
                                        
                                    </ng-container>
                                    <!-- Cumul -->
                                    <td>{{goal.value.target_achievement}}</td>
                                    <td>{{goal.value.cumul}}</td>
                                    <td>
                                        <ngb-progressbar 
                                            [value]="( goal.value.cumul / goal.value.target_achievement ) * 100" 
                                            [striped]="true" 
                                            type="danger"
                                            [showValue]="true"
                                            [animated]="true"
                                        ></ngb-progressbar>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <ng-template #loading_template>
                            <tbody><tr><td colspan="29" class="text-center">Chargement...</td></tr></tbody>
                        </ng-template>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title"></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form id="obj-form" [formGroup]="form" (ngSubmit)="persistAchievement()">
            <input type="hidden" formControlName="id">
			
            <div class="mb-3 row">
                <label for="input-date" class="col-md-2 col-form-label">Mois</label>
                <div class="col-md-10">
                    <input 
                        type="text"
                        formControlName="date"
                        id="input-date"
                        class="form-control"
                        placeholder="aaaa-mm"
                        [ngClass]="{'is-invalid':date.invalid && submitted}"
                    >
                    <div
                        *ngIf="submitted && date.errors"
                        class="invalid-feedback">
                        <span *ngIf="date.errors.required">Ce champ est obligatoire.</span>
                        <span *ngIf="date.errors.pattern">Format incorrect. Utilisez le format AAAA-MM.</span>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" [hidden]="!planned">
                <label for="input-p" class="col-md-2 col-form-label">Planifié</label>
                <div class="col-md-10">
                    <input 
                        type="number"
                        placeholder="Planifié"
                        formControlName="plannedCount"
                        id="input-p"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="mb-3 row" [hidden]="planned">
                <label for="input-r" class="col-md-2 col-form-label">Réalisé</label>
                <div class="col-md-10">
                    <input 
                        type="number"
                        placeholder="Réalisé"
                        formControlName="count"
                        id="input-r"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="mb-3 row">
                <label for="input-r" class="col-md-2 col-form-label">Action</label>
                <div class="col-md-10">
                    
                    <ng-select 
                        formControlName="goal"
                        placeholder="Action"
                        [ngClass]="{'is-invalid':goal.invalid && submitted}"
                        >
                        <ng-option *ngFor="let goal of (service.goals$ | async)" [value]="'/api/goals/'+goal.id">{{goal.name}}</ng-option>
                    </ng-select>

                    <div
                        *ngIf="submitted && goal.errors"
                        class="invalid-feedback">
                        <span *ngIf="goal.errors.required">Ce champ est obligatoire.</span>
                    </div>

                </div>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button *ngIf="edit_mode && authService.isAuthorized('objectives_delete')" type="button" class="btn btn-outline-danger" [disabled]="loading" (click)="deleteAchievement(planned)">
            Supprimer
        </button>
		<button *ngIf="edit_mode && authService.isAuthorized('objectives_update')" type="submit" class="btn btn-primary" form="obj-form" [disabled]="loading">
            Enregistrer
        </button>
		<button *ngIf="!edit_mode && authService.isAuthorized('objectives_add')" type="submit" class="btn btn-primary" form="obj-form" [disabled]="loading">
            Ajouter
        </button>
	</div>
</ng-template>