<div class="container-fluid">
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Utilisateurs"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <form [formGroup]="LogsService.LogsForm" (ngSubmit)="LogsService.onSearch()" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="100px">ID</th>
                  <th width="220px">Date</th>
                  <th width="200px">Utilisateur</th>
                  <th width="200px">IP</th>
                  <th>Description</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <tr valign="middle" 
                >
                  <td><input type="text" placeholder="ID..." formControlName="id" #searchId class="form-control"></td>
                  <td>
                    <div class="d-flex gap-2">
                    <div class="input-group clockpicker">
                      <input #searchDateStart ngbDatepicker formControlName="after" class="form-control" (click)="ds.open()" placeholder="De..." #ds="ngbDatepicker">
                    </div>
                    <div class="input-group clockpicker">
                      <input #searchDateEnd ngbDatepicker formControlName="before" class="form-control" (click)="de.open()" placeholder="À..." #de="ngbDatepicker">
                    </div>
                    </div>
                  </td>
                  <td>
                    <select class="form-select"
                      formControlName="user.id" #searchUser>
                      <option value="" selected>Utilisateur...</option>
                      <option *ngFor="let user of (users$ | async)" [value]="user.id">{{user.fullName}}</option>
                    </select>
                  </td>
                  <td><input type="text" placeholder="IP..." formControlName="extra" #searchExtra class="form-control"></td>
                  <td><input type="text" placeholder="Description..." formControlName="message" class="form-control"></td>
                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="LogsService.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                
                <tr valign="middle" *ngFor="let item of (LogsService.Logs$ | async); let i = index">
                  <td>
                    <ngb-highlight
                      [result]="item.id"
                      [term]="searchId.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="item.createdAt | date:'long'"
                      [term]="searchDateStart.value+searchDateEnd.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="header-profile-user bg-transparent me-2"><span class="avatar-title rounded-circle bg-transparent border text-muted small"><i class="fas fa-user"></i></span></div>
                      <ngb-highlight
                        [result]="item.user.fullName"
                        [term]="searchUser.options[searchUser.options.selectedIndex].text"
                      ></ngb-highlight>
                    </div>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="item.extra.clientIp"
                      [term]="searchExtra.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <div [innerHTML]="item.message"></div>
                  </td>
                  <td></td>
                </tr>

                <tr>
                  <td
                    class="text-center"
                    colspan="6"
                    *ngIf="!(LogsService.Logs$ | async) && LogsService.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="6"
                    *ngIf="(LogsService.Logs$ | async) && (LogsService.Logs$ | async).length === 0 && LogsService.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(LogsService.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > LogsService.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="LogsService.page"
                    [pageSize]="LogsService.pageSize"
                    (pageChange)="LogsService.onPaginate($event)"
                    >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>