<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <p class="mb-0 h4">Tableau de bord</p>
                <!-- <button class="btn btn-outline-info">Télécharger CSV</button> -->
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mt-4 mb-2">
        <div class="col-12">
            <div class="card card-body">
            <div class="clearfix">
                <div class="float-end">
                    <months-selector (selectionChange)="ReportStats($event)"></months-selector>
                </div>
                <h4 class="card-title mb-4">Analyses mensuelles</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" style="min-width: 1480px;">
                    <thead>
                        <tr>
                          <th valign="middle" rowspan="2">Équipe</th>
                          <th valign="middle" rowspan="2">Visite au sol <span class="text-muted ms-1 align-middle" ngbTooltip="Année en cours"><i class="bx bx-info-circle"></i></span></th>
                          <th valign="middle" rowspan="2">Anomalies réalisées <span class="text-muted ms-1 align-middle" ngbTooltip="Les données sont depuis toujours (pas d'intervalle de temps)"><i class="bx bx-info-circle"></i></span></th>
                          <th valign="middle" rowspan="2">Nombre d'incidents</th>
                          <th valign="middle" rowspan="2">Nombre de coupures</th>
                          <th valign="middle" rowspan="2">Nombre de clients coupés</th>
                          <th valign="middle" rowspan="2">Nombre de postes coupés</th>
                          <th class="text-center py-2" colspan="3">IQS mensuels incidents</th>
                        </tr>
                        <tr>
                            <th class="py-1">DMS</th>
                            <th class="py-1">IFS</th>
                            <th class="py-1">END</th>
                        </tr>
                      </thead>
                    <tbody *ngIf="teamsStats$ | async as teamsStats; else loading">
                        <tr *ngFor="let team of teamsStats;" valign="middle">
                            <td>{{team.TEAM}}</td>
                            <td>{{team.VISIT_LENGTH}} km</td>
                            <td>{{ (team.ACHIEVED_ANOMALIES ? (team.ACHIEVED_ANOMALIES / team.TOTAL_ANOMALIES) * 100 : 0) | number:'1.1-1' }}%</td>
                            <td>{{team.INCIDENTS_COUNT}}</td>
                            <td>{{team.COUPEUR_COUNT}}</td>
                            <td>{{team.CLIENTS_COUNT}}</td>
                            <td>{{team.POSTES_TOTAL}}</td>
                            <td>{{team.DMS_TOTAL | decimalHourToTime }}</td>
                            <td>{{team.IFS_TOTAL | number:'1.1-4'}}</td>
                            <td>{{team.END_TOTAL | number:'1.1-4'}}</td>
                        </tr>
                    </tbody>
                    <ng-template #loading>
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="10">Chargement...</td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
            </div>
        </div>
    </div>


    <!-- charts -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-body">
                <div class="fw-bold mb-4">
                    <div class="float-end">
                        <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link py-1 px-2" href="javascript: void(0);" (click)="ReportDMS(false)"
                            [ngClass]="{'active': DMSType==false}">Coupure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-12 py-1 px-2" href="javascript: void(0);" (click)="ReportDMS()"
                                [ngClass]="{'active': DMSType}">Incident</a>
                        </li>
                        </ul>
                    </div>
                    DMS <small class="text-muted font-size-12">(Durée moyenne des interruptions de l'année en cours)</small>
                </div>
                <ng-container *ngIf="teamsDMSCharts$ | async as chart;else teamsDMSChartsLoading">
                    <apx-chart
                        [series]="chart.series"
                        [chart]="chart.chart"
                        [xaxis]="chart.xaxis"
                        [yaxis]="chart.yaxis"
                        [stroke]="chart.stroke"
                        [tooltip]="chart.tooltip"
                        [dataLabels]="chart.dataLabels"
                        [colors]="chart.colors"
                    ></apx-chart>
                </ng-container>
                <ng-template #teamsDMSChartsLoading>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="310px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <g transform="rotate(180 50 50)"><rect x="15" y="15" width="10" height="40" fill="#e8e8e8">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2.1052631578947367s"></animate>
                        </rect><rect x="35" y="15" width="10" height="40" fill="#dce4eb">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1.0526315789473684s"></animate>
                        </rect><rect x="55" y="15" width="10" height="40" fill="#bbcedd">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3.1578947368421053s"></animate>
                        </rect><rect x="75" y="15" width="10" height="40" fill="#85a2b6">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5.2631578947368425s"></animate>
                        </rect></g>
                    </svg>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body">
                <div class="fw-bold mb-4">
                    <div class="float-end">
                        <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link py-1 px-2" href="javascript: void(0);" (click)="ReportIFS(false)"
                            [ngClass]="{'active': IFSType==false}">Coupure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-12 py-1 px-2" href="javascript: void(0);" (click)="ReportIFS()"
                                [ngClass]="{'active': IFSType}">Incident</a>
                        </li>
                        </ul>
                    </div>
                    IFS <small class="text-muted font-size-12">(Fréquence des interruptions de l'année en cours)</small>
                </div>
                <ng-container *ngIf="teamsIFSCharts$ | async as chart;else teamsIFSChartsLoading">
                    <apx-chart
                        [series]="chart.series"
                        [chart]="chart.chart"
                        [xaxis]="chart.xaxis"
                        [yaxis]="chart.yaxis"
                        [stroke]="chart.stroke"
                        [tooltip]="chart.tooltip"
                        [dataLabels]="chart.dataLabels"
                        [colors]="chart.colors"
                        ></apx-chart>
                </ng-container>
                <ng-template #teamsIFSChartsLoading>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="310px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <g transform="rotate(180 50 50)"><rect x="15" y="15" width="10" height="40" fill="#e8e8e8">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2.1052631578947367s"></animate>
                        </rect><rect x="35" y="15" width="10" height="40" fill="#dce4eb">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1.0526315789473684s"></animate>
                        </rect><rect x="55" y="15" width="10" height="40" fill="#bbcedd">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3.1578947368421053s"></animate>
                        </rect><rect x="75" y="15" width="10" height="40" fill="#85a2b6">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5.2631578947368425s"></animate>
                        </rect></g>
                    </svg>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body">
                <div class="fw-bold mb-4">
                    <div class="float-end">
                        <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link py-1 px-2" href="javascript: void(0);" (click)="ReportEND(false)"
                            [ngClass]="{'active': ENDType==false}">Coupure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-12 py-1 px-2" href="javascript: void(0);" (click)="ReportEND()"
                                [ngClass]="{'active': ENDType}">Incident</a>
                        </li>
                        </ul>
                    </div>
                    END <small class="text-muted font-size-12">(année en cours)</small>
                </div>
                <ng-container *ngIf="teamsENDCharts$ | async as chart;else teamsENDChartsLoading">
                    <apx-chart
                        [series]="chart.series"
                        [chart]="chart.chart"
                        [xaxis]="chart.xaxis"
                        [yaxis]="chart.yaxis"
                        [stroke]="chart.stroke"
                        [tooltip]="chart.tooltip"
                        [dataLabels]="chart.dataLabels"
                        [colors]="chart.colors"
                    ></apx-chart>
                </ng-container>
                <ng-template #teamsENDChartsLoading>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; opacity: 0.2; display: block;" width="200px" height="310px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <g transform="rotate(180 50 50)"><rect x="15" y="15" width="10" height="40" fill="#e8e8e8">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2.1052631578947367s"></animate>
                        </rect><rect x="35" y="15" width="10" height="40" fill="#dce4eb">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1.0526315789473684s"></animate>
                        </rect><rect x="55" y="15" width="10" height="40" fill="#bbcedd">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3.1578947368421053s"></animate>
                        </rect><rect x="75" y="15" width="10" height="40" fill="#85a2b6">
                        <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="5.2631578947368425s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5.2631578947368425s"></animate>
                        </rect></g>
                    </svg>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="teamsAnomalies$ | async as teamsAnomalies">
            <div class="card card-body">
                <div class="fw-bold mb-4">Taux de correction des anomalies</div>
                <apx-chart
                    [series]="teamsAnomalies.series"
                    [chart]="teamsAnomalies.chart"
                    [dataLabels]="teamsAnomalies.dataLabels"
                    [plotOptions]="teamsAnomalies.plotOptions"
                    [responsive]="teamsAnomalies.responsive"
                    [xaxis]="teamsAnomalies.xaxis"
                    [legend]="teamsAnomalies.legend"
                    [fill]="teamsAnomalies.fill"
                ></apx-chart>
            </div>
        </div>
    </div>
</div> <!-- container-fluid -->
