<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <p class="mb-0 h4">Tableau de bord</p>
                <!-- <button class="btn btn-outline-info">Télécharger CSV</button> -->
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mt-4 mb-2">
        <div class="col-12">
            <div class="card card-body p-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Équipe</th>
                          <th>Visite au sol</th>
                          <th>Anomalies réalisées</th>
                          <th>Nombre d'incidents <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>Nombre de coupures <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>Nombre de clients coupés <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>Nombre de postes coupés <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>DMS <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>IFS <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                          <th>END <small class="text-muted">({{today | date:'MMM':'Africa/Casablanca'}})</small></th>
                        </tr>
                      </thead>
                    <tbody *ngIf="teamsStats$ | async as teamsStats; else loading">
                        <tr *ngFor="let team of teamsStats;" valign="middle">
                            <td>{{team.TEAM}}</td>
                            <td>{{team.VISIT_LENGTH}} km</td>
                            <td>{{ (team.ACHIEVED_ANOMALIES ? (team.ACHIEVED_ANOMALIES / team.TOTAL_ANOMALIES) * 100 : 0) | number:'1.1-1' }}%</td>
                            <td>{{team.INCIDENTS_COUNT}}</td>
                            <td>{{team.COUPEUR_COUNT}}</td>
                            <td>{{team.CLIENTS_COUNT}}</td>
                            <td>{{team.POSTES_TOTAL}}</td>
                            <td>{{team.DMS_TOTAL | decimalHourToTime }}</td>
                            <td>{{team.IFS_TOTAL | number:'1.4-4'}}</td>
                            <td>{{team.END_TOTAL | number:'1.4-4'}}</td>
                        </tr>
                    </tbody>
                    <ng-template #loading>
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="10">Chargement...</td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
            </div>
        </div>
    </div>


    <!-- charts -->
    <div class="row">
    
    <div class="col-lg-6" *ngFor="let chart of teamsCharts$ | async;">
        <div class="card card-body">
            <div class="fw-bold mb-4">
                <div *ngIf="chart.type == 'DMS_TOTAL'">
                  DMS <small class="text-muted font-size-12">(Durée moyenne des interruptions de l'année en cours)</small>
                </div>
                <div *ngIf="chart.type == 'IFS_TOTAL'">
                  IFS <small class="text-muted font-size-12">(Fréquence des interruptions de l'année en cours)</small>
                </div>
                <div *ngIf="chart.type == 'END_TOTAL'">
                  END <small class="text-muted font-size-12">(année en cours)</small>
                </div>
            </div>
            <apx-chart
            [series]="chart.series"
            [chart]="chart.chart"
            [xaxis]="chart.xaxis"
            [yaxis]="chart.yaxis"
            [stroke]="chart.stroke"
            [tooltip]="chart.tooltip"
            [dataLabels]="chart.dataLabels"
            [colors]="chart.colors"
            ></apx-chart>
      </div>
    </div>
    
    <div class="col-lg-6" *ngIf="teamsAnomalies$ | async as teamsAnomalies">
      <div class="card card-body">
        <div class="fw-bold mb-4">Taux de correction des anomalies</div>
        <apx-chart
            [series]="teamsAnomalies.series"
            [chart]="teamsAnomalies.chart"
            [dataLabels]="teamsAnomalies.dataLabels"
            [plotOptions]="teamsAnomalies.plotOptions"
            [responsive]="teamsAnomalies.responsive"
            [xaxis]="teamsAnomalies.xaxis"
            [legend]="teamsAnomalies.legend"
            [fill]="teamsAnomalies.fill"
        ></apx-chart>
         
      </div>
    </div>
    </div>
</div> <!-- container-fluid -->
