<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Les Départements"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    <div class="col-auto">
      <a routerLink="/departements/add" class="btn btn-primary ms-2"
      *ngIf="authService.isAuthorized('departements_add')"
        ><i class="fas fa-plus-circle"></i> Ajouter</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <form [formGroup]="departementService.departementForm" (ngSubmit)="departementService.onSearch()" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Titre</th>
                  <th width="30%">Équipe</th>
                  <th width="30%">Longueur</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <tr valign="middle" 
                >
                  <td><input type="text" placeholder="Titre..." formControlName="titre" #searchTitre class="form-control"></td>
                  <td>
                    <ng-select [items]="departementService.teams$ | async"
                              #searchTeam
                              formControlName="team.id[]"
                              bindLabel="titre"
                              bindValue="id"
                              [multiple]="true"
                              [minTermLength]="2"
                              placeholder="Équipe.."
                              [loading]="departementService.teamLoading"
                              typeToSearchText="Veuillez saisir 2 caractères ou plus"
                              [typeahead]="departementService.teamInput$">
                    </ng-select>
                  </td>
                  <td><input type="text" placeholder="Longueur..." formControlName="longueur" #searchLongueur class="form-control"></td>
                 
                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="departementService.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                <tr>
                  <td
                    class="text-center"
                    colspan="5"
                    *ngIf="!(departementService.departements$ | async) && departementService.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="5"
                    *ngIf="(departementService.departements$ | async) && (departementService.departements$ | async).length === 0 && departementService.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <tr *ngFor="let departement of (departementService.departements$ | async); let i = index" valign="middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <div style="width:80px;height: 39px;" class="me-4 bg-light rounded">
                        <img
                        *ngIf="departement.visuel"
                        class="rounded c-pointer w-100 h-100"
                        style="object-fit: cover;"
                        [src]="departement.visuel.contentUrl"
                        (click)="lightbox.open(
                          [
                            {
                              src: departement.visuel.contentUrl,
                              thumb: ''
                            }
                          ], 0, { showZoom: true })"
                        />
                      </div>
                    <div class="text-uppercase fw-bold">
                      <ngb-highlight
                        [result]="departement.titre"
                        [term]="searchTitre.value"
                      ></ngb-highlight>
                    </div>
                    </div>
                  </td>
                  
                  
                  <td>
                    <a 
                      *ngIf="departement.team"
                      [routerLink]="authService.isAuthorized('teams_details') ? ['/teams/details', departement.team.id] : null"
                      target="_blank" rel="noopener noreferrer">{{departement.team.titre}}</a>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="departement.longueur"
                      [term]="searchLongueur.value"
                    ></ngb-highlight>
                  </td>
                 
                  
                  <td align="center">
                    <div ngbDropdown 
                      placement="bottom-left"
                      *ngIf="authService.isAuthorized('departements_details') || authService.isAuthorized('departements_update') || authService.isAuthorized('departements_delete')"
                      >
                      <i
                        class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item"
                          [routerLink]="['details', departement.id]"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('departements_details')"
                          >
                          <i class="fas fa-eye me-2"></i> Voir
                        </a>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('departements_update')"
                          [routerLink]="['update', departement.id]"
                          >
                          <!-- skipLocationChange -->
                          <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('departements_delete')"
                          (click)="departementService.deleteItem(departement.id, $event.target)"
                        >
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(departementService.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > departementService.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="departementService.page"
                    [pageSize]="departementService.pageSize"
                    (pageChange)="departementService.onPaginate($event)"
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>