<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-between mb-4">
    <div class="col-auto">
      <app-page-title
        title="Les directions provinciales"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>
    </div>
    <div class="col-auto">
      <a routerLink="/dps/add" class="btn btn-primary ms-2"
      *ngIf="authService.isAuthorized('dps_add')"
        ><i class="fas fa-plus-circle"></i> Ajouter</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <form [formGroup]="dpsService.dpsForm" (ngSubmit)="dpsService.onSearch()" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Titre</th>
                  <th>System DMS</th>
                  <th>Équipes</th>
                  <th width="123px"></th>
                </tr>
              </thead>
              <tbody>
                <tr valign="middle" 
                >
                  <td><input type="text" placeholder="Titre..." formControlName="titre" #searchTitre class="form-control"></td>
                  <td><input type="number" step="1" placeholder="System DMS..." formControlName="nbClients" #searchNbClients class="form-control"></td>
                  <td>
                    <ng-select [items]="dpsService.teams$ | async"
                              #searchTeam
                              formControlName="team.id[]"
                              bindLabel="titre"
                              bindValue="id"
                              [multiple]="true"
                              [minTermLength]="2"
                              placeholder="Équipe.."
                              [loading]="dpsService.teamLoading"
                              typeToSearchText="Veuillez saisir 2 caractères ou plus"
                              [typeahead]="dpsService.teamInput$">
                    </ng-select>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-sm btn-primary d-flex align-items-center">
                      <i class="bx bx-search me-1"></i>Rechercher
                    </button>
                    <button type="reset" class="btn btn-sm text-primary flex align-items-center" (click)="dpsService.findAll()">
                      <i class="bx bx-x me-1"></i>Réinitialiser
                    </button>
                  </td>
                </tr>
                <tr>
                  <td
                    class="text-center"
                    colspan="5"
                    *ngIf="!(dpsService.dps$ | async) && dpsService.loading$ | async"
                  >
                    Chargement...
                  </td>
                  <td
                    class="text-center"
                    colspan="5"
                    *ngIf="(dpsService.dps$ | async) && (dpsService.dps$ | async).length === 0 && dpsService.loaded$ | async"
                  >
                  Aucune donnée trouvée !
                  </td>
                </tr>
                <tr *ngFor="let dps of (dpsService.dps$ | async); let i = index" valign="middle">
                  <td>
                    <ngb-highlight
                      [result]="dps.titre"
                      [term]="searchTitre.value"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="dps.nbClients"
                      [term]="searchNbClients.value"
                    ></ngb-highlight>
                  </td>
                  
                  
                  <td>
                    <div *ngFor="let team of dps.team">
                      <a 
                        [routerLink]="authService.isAuthorized('teams_details') ? ['/teams/details', team.id] : null"
                        target="_blank" rel="noopener noreferrer">- {{team.titre}}</a>
                    </div>
                  </td>
                  
                  
                  <td align="center">
                    <div ngbDropdown 
                      container="body" placement="bottom-right"
                      *ngIf="authService.isAuthorized('dps_details') || authService.isAuthorized('dps_update') || authService.isAuthorized('dps_delete')"
                      >
                      <i
                        class="fas fa-ellipsis-h dropdown-toggle c-pointer"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item"
                          [routerLink]="['details', dps.id]"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('dps_details')"
                          >
                          <i class="fas fa-eye me-2"></i> Voir
                        </a>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('dps_update')"
                          [routerLink]="['update', dps.id]"
                          >
                          <!-- skipLocationChange -->
                          <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          *ngIf="authService.isAuthorized('dps_delete')"
                          (click)="dpsService.deleteItem(dps.id, $event.target)"
                        >
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <!-- End table -->
          <!-- Pagination -->
          <ng-container *ngIf="(dpsService.pagination$ | async) as pagination">
            <div
              *ngIf="pagination.totalRecords > dpsService.pageSize"
              class="row justify-content-md-between align-items-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                Affichage de {{pagination.startIndex}} 
                à {{pagination.endIndex}} 
                de {{pagination.totalRecords}} entrées
                </div>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="pagination.totalRecords"
                    [(page)]="dpsService.page"
                    [pageSize]="dpsService.pageSize"
                    (pageChange)="dpsService.onPaginate($event)" [maxSize]="5" 
                  >
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>