<div class="container-fluid">
    <!-- start page title -->
    <app-page-title
      title="Mettre à jour l'équipe"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <!-- end page title -->
  
    <form class="row mt-4" [formGroup]="service.teamForm" (ngSubmit)="service.onUpdate(id)">
      <fieldset class="col-12" [disabled]="service.loading$ | async">
        <div class="card">
          <div class="card-body">
           

            <div class="mb-3 row">
              <label for="name-input" class="col-md-2 col-form-label">Nom</label>
              <div class="col-md-10">
                <input
                  formControlName="titre"
                  [ngClass]="{'is-invalid':service.titre.invalid && service.submitted}"
                  class="form-control"
                  type="text"
                  id="name-input"
                />
                <div
                  *ngIf="service.submitted && service.titre.errors"
                  class="invalid-feedback">
                  <span *ngIf="service.titre.errors.required">Ce champ est obligatoire.</span>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="name-input" class="col-md-2 col-form-label">Départ</label>
              <div class="col-md-10">
                <ng-select formControlName="departments" [multiple]="true" placeholder="Dépar..">
                  <ng-option *ngFor="let depar of (service.departments$ | async)" [value]="'/api/departments/'+depar.id">{{depar.titre}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="name-input" class="col-md-2 col-form-label">Membres</label>
              <div class="col-md-10">
                <ng-select [items]="service.membres$ | async"
                          formControlName="membres"
                          bindLabel="fullName"
                          bindValue="@id"
                          [multiple]="true"
                          [minTermLength]="2"
                          [loading]="service.membreLoading"
                          typeToSearchText="Veuillez saisir 2 caractères ou plus"
                          [typeahead]="service.membreInput$">
                </ng-select>
              </div>
            </div>
  
            <div class="row justify-content-end">
              <div class="col-auto">
                <button class="btn btn-light me-2" routerLink="/teams"><i class="fas fa-arrow-circle-left me-1"></i>Retour à la liste</button>
                <button class="btn btn-primary"><i class="bx bx-loader-alt fa-spin" *ngIf="service.submitted && (service.loading$ | async)"></i> Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- end col -->
    </form>
    <!-- end row -->
  </div>
  