<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Détail de l'interruption"
    [Loading]="service.loading$ | async"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="card mt-4">
    <div class="card-body pt-5">
      <div class="table-responsive">
        <table class="table table-nowrap mb-0">
          <tbody *ngIf="anomaly">
            <tr valign="middle">
              <th scope="row">Statut :</th>
              <td>
                {{anomaly.status ? "Terminé" : "En attente"}}
              </td>
            </tr>
            <tr valign="middle">
              <th scope="row">Priorité :</th>
              <td>
                <span class="badge badge-pill font-size-11 badge-soft-{{ service.getSeverity(anomaly.severity, true) }}">
                  {{service.getSeverity(anomaly.severity, false)}}
                </span>
              </td>
            </tr>
            <tr valign="middle">
              <th scope="row">Anomalie :</th>
              <td>
                {{anomaly.title}}
              </td>
            </tr>
            <tr valign="middle">
              <th scope="row">Créé par :</th>
              <td>
                <a 
                      *ngIf="anomaly.createdBy"
                      [routerLink]="authService.isAuthorized('users_details') ? ['/users/details', anomaly.createdBy.id] : null"
                      target="_blank" class="d-flex align-items-center">
                      <div class="header-profile-user bg-transparent me-2"><span class="avatar-title rounded-circle bg-transparent border text-muted small"><i class="fas fa-user"></i></span></div>
                      {{anomaly.createdBy.fullName}}
                    </a>
              </td>
            </tr>
            <tr valign="middle">
              <th scope="row">Départ :</th>
              <td>
                <ng-container *ngIf="anomaly.edge"> 
                  <a 
                    *ngIf="anomaly.edge.department"
                    [routerLink]="authService.isAuthorized('departments_details') ? ['/departments/details', anomaly.edge.department.id] : null"
                    target="_blank">{{anomaly.edge.department.titre}}</a>
                  - <a 
                    [routerLink]="authService.isAuthorized('edges_details') ? ['/edges/details', anomaly.edge.id] : null"
                    target="_blank">{{anomaly.edge.node_a.titre}} - {{anomaly.edge.node_b.titre}}</a>
                </ng-container>
              </td>
            </tr>
            <tr valign="middle">
              <th scope="row">Date :</th>
              <td>
                {{anomaly.createdAt | date:'medium':'Africa/Casablanca'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-light mt-4 float-end" routerLink="/anomalies"><i class="fas fa-arrow-circle-left me-1"></i>Retour à la liste</button>
    </div>
  </div>
</div>

